<template>
<div class="d-lg-block d-none justify-content-center">
    <div class="pb-2 mb-3">
        <slide-tab-pc></slide-tab-pc>
        <b-container>
            <b-row>
                <b-col class="bg-data">
                    <system-memberaff></system-memberaff>
                </b-col>
                <b-col class="bg-history">
                    <index-memberaff-pc></index-memberaff-pc>
                </b-col>
            </b-row>
        </b-container>
    </div>
</div>
</template>

<script>
import SlideTabPc from '~/components/slidetab/SlideTabPc.vue'
import SystemMemberaff from '../SystemMemberaff.vue'
import IndexMemberaffPc from './IndexMemberaffPc.vue'
export default {
    components: {
        IndexMemberaffPc,
        SlideTabPc,
        SystemMemberaff
    },

}
</script>

<style scoped>
.bg-data {
    box-shadow: 0px 0px 1px 1px #b0b3b0;
    background: #dbdad9;
}

.bg-history {
    background: #fcfbfb;
    box-shadow: 0px 0px 1px 1px #d0d0d0;
}
</style>
