<template>
  <div class="my-2">
    <div class="d-flex justify-content-center my-2">
      <h3 class="text-white divider">รายชื่อสมาชิกในสายล่าสุด</h3>
      <br />
    </div>
    <b-row>
      <b-col cols="12" class="m-auto">
        <table
          role="table"
          aria-busy="false"
          aria-colcount="3"
          class="table b-table table-striped table-hover"
        >
          <thead role="rowgroup">
            <tr role="row">
              <th role="columnheader" scope="col" aria-colindex="1">
                <div><p class="text_head">วันที่</p></div>
              </th>
              <th role="columnheader" scope="col" aria-colindex="2">
                <div><p class="text_head">ชื่อ</p></div>
              </th>
              <th role="columnheader" scope="col" aria-colindex="3">
                <div><p class="text_head">เบอร์โทร</p></div>
              </th>
            </tr>
          </thead>
          <tbody role="rowgroup" class="text-dark">
            <tr v-for="(listaffref, idx) in listaffref" :key="idx" role="row">
              <td aria-colindex="1" role="cell">
                {{ listaffref.referrer_created_at }}
              </td>
              <td aria-colindex="2" role="cell">
                {{
                  listaffref.referrer_member_firstname +
                    " " +
                    listaffref.referrer_member_lastname
                }}
              </td>
              <td aria-colindex="3" role="cell">
                {{ listaffref.referrer_member_username }}
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import * as affiliate from "@/utils/API/getdata";
export default {
  data() {
    return {
      listaffref: []
    };
  },
  async mounted() {
    const affref = await affiliate.affreferrer();
    this.listaffref = affref.data.datas;
    console.log(affref.data.datas);
  }
};
</script>

<style scoped>
.divider {
  border-bottom: 2px solid #fff;
  width: 100%;
}
.table td,
.table th {
  padding: 0.5rem !important;
  font-size: 18px;
}
tbody tr {
  background-color: transparent;
}
.text_head {
  font-size: 20px;
  color: #000000;
  margin-bottom: 0px;
}
</style>
