<template>
<div class="d-lg-block d-none justify-content-center">
    <div class="pb-2 mb-3">
        <slide-tab-pc></slide-tab-pc>
        <b-container>
            <b-row>
                <b-col class="bg-data">
                    <index-profile-pc></index-profile-pc>
                </b-col>
                <b-col class="bg-history">
                    <div class="mt-2 mb-3 txt-history">
                        <h2>เปลี่ยนรหัสผ่าน</h2>
                    </div>
                    <chang-password-profile></chang-password-profile>
                </b-col>
            </b-row>
        </b-container>
    </div>
</div>
</template>

<script>
import SlideTabPc from '~/components/slidetab/SlideTabPc.vue'
import ChangPasswordProfile from '../ChangPasswordProfile.vue'
import IndexProfilePc from './IndexProfilePc.vue'
export default {
    components: {
        SlideTabPc,
        IndexProfilePc,
        ChangPasswordProfile
    },

}
</script>

<style scoped>
.bg-data {
    box-shadow: 0px 0px 1px 1px #b0b3b0;
    background: #dbdad9;
}

.bg-history {
    background: #fcfbfb;
    box-shadow: 0px 0px 1px 1px #d0d0d0;
}

.txt-history {
    text-align: center;
}

.txt-history h2 {
    color: #6e1506;
    font-weight: bold;
}
</style>
