<template>
  <div class="d-lg-block d-none">
<index-affiliat-pc></index-affiliat-pc>
  </div>
</template>

<script>
import IndexAffiliatPc from './IndexAffiliatPc.vue'
export default {
  components: {IndexAffiliatPc  },

}
</script>

<style>

</style>