<template>
<div class="bg-aff">
    <b-container>
        <b-row class="justify-content-center mb-5"><img src="/images/affiliate/aff.jpg" />
        </b-row>
        <div>
            <h4>ลิ้งค์ช่วยแชร์รับ 0.8% ฟรี (แค่ก๊อปปี้ลิ้งค์ไปแชร์ก็ได้เงินแล้ว) ยิ่งแชร์มากยิ่งได้มาก </h4>
            <h4>ท่านจะได้รับ 0.8% ยอดเทิร์นโอเวรอร์ เมื่อผู้สมัครผ่านลิ้งค์ของท่านเข้าเล่น</h4>
            <p>ท่านสามารถนำลิ้งค์ด้านล้างนี้หรือนำป้ายแบนเนอร์ ไปแชร์ในช่องท่างต่างๆ ไม่ว่าจะเป็น เว็บไซต์ส่วนตัว, Blog, Facebook หรือ Social Network อื่นๆ หากมีการสมัครสมาชิกโดยคลิกผ่านลิ้งค์ของท่านเข้ามา ลูกค้าที่สมัครเข้ามาก็จะอยู่้ภายในเครือข่ายของท่านทันที และหากลูกค้าภายใต้เครือข่ายของท่านมีการเดิมพันเข้ามา ทุกยอดการเดิมพัน ท่านจะได้รับส่วนแบ่งในการแนะนำ 0.8%</p>
            <h6>ตัวอย่าง</h6>
            <p>o ลูกค้าท่าน 1 คน แทง 1,000 บาท ท่านจะได้ 8 บาท (ท่านจะได้ทุกรายการแทงของลูกค้า)</p>
            <p>สามารถทำรายได้เดือน 100,000 บาทง่ายๆเลยทีเดียว และรายได้ทุกบาททุกสตางค์ของท่านสามารถตรวจสอบได้ทุกขั้นตอน งานนี้แจกจริง จ่ายจริง ที่นี้ที่เดียวที่ให้คุณมากกว่าใคร ก๊อปปี้ลิ้งค์และข้อความด้านล่างนี้ นำไปแชร์ได้เลย</p>
            <p class="mb-5"><strong>หมายเหตุ:</strong> รายได้แนะนำเพื่อนของท่านสามารถรับเงินได้ทุกวันที่ 2-5 ของเดือนถัดไป จะต้องมียอดขั้นต่ำ 1,000บาท ถึงจะสามารถแจ้งถอนได้</p>
            <b-col class="charec">
                <img class="mt-0" src="/images/affiliate/aff.png" />
            </b-col>
        </div>
    </b-container>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
.bg-aff {
    background-image: url(/images/affiliate/bg_aff.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.charec {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 740px;
}

.bg-aff img {
    margin-top: 20rem;
}

.bg-aff h4 {
    color: #e6c23c;
    line-height: 1;
    text-align: center;
}

.bg-aff h6 {
    color: #e6c23c;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    text-indent: 1rem;
}

.bg-aff p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 20px;
    text-indent: 1rem;
}
strong{
  color: #e6c23c;
}
</style>
