<template>
  <div class="d-lg-none d-block">
    <b-container class="bg-border">
      <div class="pb-2 mb-3">
        <slide-tab-mobile></slide-tab-mobile>
        <b-container
          ><b-row>
            <b-col cols="12" class="bg-data">
              <div class="mt-2 mb-3 txt-history">
                <h2>ประวัติฝากเงิน</h2>
              </div>
              <history-deposit></history-deposit>
            </b-col>
            <b-col cols="12" class="bg-history">
              <div class="mt-2 mb-3 txt-history">
                <h2>ประวัติถอนเงิน</h2>
              </div>
              <history-withdraw></history-withdraw
            ></b-col>
          </b-row>
        </b-container>
      </div>
    </b-container>
  </div>
</template>

<script>
import SlideTabMobile from "~/components/slidetab/SlideTabMobile.vue";
import HistoryDeposit from "../HistoryDeposit.vue";
import HistoryWithdraw from "../HistoryWithdraw.vue";
export default {
  components: {
    HistoryDeposit,
    HistoryWithdraw,
    SlideTabMobile
  }
};
</script>

<style scoped>
.bg-data {
  box-shadow: 0px 0px 1px 1px #b0b3b0;
  background: #dbdad9;
}

.bg-history {
  background: #dbdad9;
  box-shadow: 0px 0px 1px 1px #d0d0d0;
}

.txt-history {
  text-align: center;
}

.txt-history h2 {
  color: #6e1506;
  font-weight: bold;
}
</style>
