<template>
  <div class="d-none d-lg-block">
    <index-slot-pc></index-slot-pc>
  </div>
</template>

<script>
import IndexSlotPc from "./IndexSlotPc.vue";
export default {
  components: {
    IndexSlotPc
  }
};
</script>

<style></style>
