<template>
  <div class="bg-slot p-1">
    <b-container>
      <div v-if="statusgame === 0" class="bg-border p-3">
        <b-row class="slot_item mx-1">
          <b-tabs class="slot_games" content-class="mt-4">
            <div>
              <b-tab title="เกมทั้งหมด" @click="getSlot()">
                <div class="slot_search mb-4 mr-3">
                  <b-input-group>
                    <b-input-group-prepend is-text>
                      <i class="fa fa-search icon-white"></i>
                    </b-input-group-prepend>
                    <b-input
                      id="search"
                      v-model="se"
                      @input="getSlot(null)"
                      type="text"
                      autocomplete="off"
                      required
                      placeholder="ค้นหาเกม"
                      onkeypress="return event.charCode != 92 && event.charCode != 42"
                    ></b-input>
                  </b-input-group>
                </div>
                <b-row class="m-0">
                  <b-col sm="4">
                    <img
                      src="/images/slot/ALLSLOT.jpg"
                      alt=""
                      style="height: 92%;"
                    />
                  </b-col>
                  <b-col
                    sm="2"
                    v-for="(listslot, game_type_id) in listslot"
                    :key="game_type_id"
                  >
                    <div
                      class="game mb-4"
                      @click="gotoLobby(listslot.game_id, listslot.slot_id)"
                      target="_blank"
                    >
                      <img :src="listslot.slot_image" width="100%" />
                      <div class="game_title">{{ listslot.slot_name }}</div>
                      <div class="game_hover_title text-center">
                        {{ listslot.slot_name }}
                      </div>
                    </div>
                  </b-col>
                </b-row>
                <div class="d-block mb-3">
                  <div class="row">
                    <div
                      v-if="page === 1 && pages.length === 1"
                      class="m-auto text-center"
                    >
                      <default-button-disable
                        title="prev"
                      ></default-button-disable>
                      <button
                        v-for="pageNumber in pages.slice(page - 1, page + 2)"
                        :key="pageNumber"
                        :class="
                          'default-button m-1 ' +
                            (page === pageNumber ? 'btn-active' : '')
                        "
                        @click="page = pageNumber"
                      >
                        {{ pageNumber }}
                      </button>
                      <default-button-disable
                        title="next"
                      ></default-button-disable>
                    </div>
                    <div
                      v-else-if="page === 1 && pages.length !== 1"
                      class="m-auto text-center"
                    >
                      <default-button-disable
                        title="prev"
                        @click="page === 1 ? '' : page--"
                      ></default-button-disable>
                      <button
                        v-for="pageNumber in pages.slice(page - 1, page + 2)"
                        :key="pageNumber"
                        :class="
                          'default-button m-1 ' +
                            (page === pageNumber ? 'btn-active' : '')
                        "
                        @click="page = pageNumber"
                      >
                        {{ pageNumber }}
                      </button>
                      <button
                        class="default-button"
                        type="button"
                        @click="page === pages.length ? '' : page++"
                      >
                        next
                      </button>
                    </div>
                    <div v-else class="m-auto text-center">
                      <button
                        class="default-button"
                        type="button"
                        @click="page === 1 ? '' : page--"
                      >
                        prev
                      </button>
                      <button
                        v-for="pageNumber in pages.slice(page - 2, page + 1)"
                        :key="pageNumber"
                        :class="
                          'default-button m-1 ' +
                            (page === pageNumber ? 'btn-active' : '')
                        "
                        type="button"
                        @click="page = pageNumber"
                      >
                        {{ pageNumber }}
                      </button>
                      <a
                        v-if="page === pages.length"
                        class="m-auto text-center"
                      >
                        <default-button-disable
                          title="next"
                        ></default-button-disable>
                      </a>
                      <a v-else class="m-auto text-center">
                        <button
                          class="default-button"
                          type="button"
                          @click="page === pages.length ? '' : page++"
                        >
                          next
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </b-tab>
            </div>
            <div v-for="game in listsloticon" :key="game.game_id">
              <b-tab
                v-if="game.mt_day !== dayoff"
                :title="game.game_name"
                @click="getSlot(game.game_id)"
                v-model="tabIndex"
              >
                <div class="slot_search mb-4 mr-3">
                  <b-input-group>
                    <b-input-group-prepend is-text>
                      <i class="fa fa-search icon-white"></i>
                    </b-input-group-prepend>
                    <b-input
                      id="search"
                      v-model="se"
                      @input="getSlot((id = game.game_id))"
                      type="text"
                      autocomplete="off"
                      required
                      placeholder="ค้นหาเกม"
                      onkeypress="return event.charCode != 92 && event.charCode != 42"
                    ></b-input>
                  </b-input-group>
                </div>
                <b-row class="m-0" v-if="game.game_id === 'SP'">
                  <b-col sm="3" @click="gotomainlobby('SP')">
                    <img
                      src="/images/slot/SIMPLEPLAY.jpg"
                      alt=""
                      width="100%"
                      style="height: 85%;"
                    />
                  </b-col>
                  <b-col
                    sm="3"
                    v-for="(listslot, game_type_id) in listslot"
                    :key="game_type_id"
                  >
                    <div
                      class="game mb-4"
                      @click="gotoLobby(listslot.game_id, listslot.slot_id)"
                      target="_blank"
                    >
                      <img :src="listslot.slot_image" width="100%" />
                      <div class="game_title">{{ listslot.slot_name }}</div>
                      <div class="game_hover_title text-center">
                        {{ listslot.slot_name }}
                      </div>
                    </div>
                  </b-col>
                </b-row>
                <b-row class="m-0" v-else>
                  <b-col
                    sm="4"
                    v-if="game.game_id === 'PG'"
                    @click="gotomainlobby('PG')"
                  >
                    <img
                      src="/images/slot/PGSLOT.jpg"
                      alt=""
                      style="height: 92%;"
                    />
                  </b-col>
                  <b-col
                    sm="4"
                    v-if="game.game_id === 'JO'"
                    @click="gotomainlobby('JO')"
                  >
                    <img src="/images/slot/JOKER.jpg" alt="" />
                  </b-col>
                  <b-col
                    sm="4"
                    v-if="game.game_id === 'QM'"
                    @click="gotomainlobby('QM')"
                  >
                    <img src="/images/slot/KINGMAKER.jpg" alt="" />
                  </b-col>
                  <b-col
                    sm="2"
                    v-for="(listslot, game_type_id) in listslot"
                    :key="game_type_id"
                  >
                    <div
                      class="game mb-4"
                      @click="gotoLobby(listslot.game_id, listslot.slot_id)"
                      target="_blank"
                    >
                      <img :src="listslot.slot_image" width="100%" />
                      <div class="game_title">{{ listslot.slot_name }}</div>
                      <div class="game_hover_title text-center">
                        {{ listslot.slot_name }}
                      </div>
                    </div>
                  </b-col>
                </b-row>
                <div class="d-block mb-3">
                  <div class="row">
                    <div
                      v-if="page === 1 && pages.length === 1"
                      class="m-auto text-center"
                    >
                      <default-button-disable
                        title="prev"
                      ></default-button-disable>
                      <button
                        v-for="pageNumber in pages.slice(page - 1, page + 2)"
                        :key="pageNumber"
                        :class="
                          'default-button m-1 ' +
                            (page === pageNumber ? 'btn-active' : '')
                        "
                        @click="page = pageNumber"
                      >
                        {{ pageNumber }}
                      </button>
                      <default-button-disable
                        title="next"
                      ></default-button-disable>
                    </div>
                    <div
                      v-else-if="page === 1 && pages.length !== 1"
                      class="m-auto text-center"
                    >
                      <default-button-disable
                        title="prev"
                        @click="page === 1 ? '' : page--"
                      ></default-button-disable>
                      <button
                        v-for="pageNumber in pages.slice(page - 1, page + 2)"
                        :key="pageNumber"
                        :class="
                          'default-button m-1 ' +
                            (page === pageNumber ? 'btn-active' : '')
                        "
                        @click="page = pageNumber"
                      >
                        {{ pageNumber }}
                      </button>
                      <button
                        class="default-button"
                        type="button"
                        @click="page === pages.length ? '' : page++"
                      >
                        next
                      </button>
                    </div>
                    <div v-else class="m-auto text-center">
                      <button
                        class="default-button"
                        type="button"
                        @click="page === 1 ? '' : page--"
                      >
                        prev
                      </button>
                      <button
                        v-for="pageNumber in pages.slice(page - 2, page + 1)"
                        :key="pageNumber"
                        :class="
                          'default-button m-1 ' +
                            (page === pageNumber ? 'btn-active' : '')
                        "
                        type="button"
                        @click="page = pageNumber"
                      >
                        {{ pageNumber }}
                      </button>
                      <a
                        v-if="page === pages.length"
                        class="m-auto text-center"
                      >
                        <default-button-disable
                          title="next"
                        ></default-button-disable>
                      </a>
                      <a v-else class="m-auto text-center">
                        <button
                          class="default-button"
                          type="button"
                          @click="page === pages.length ? '' : page++"
                        >
                          next
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </b-tab>
            </div>
          </b-tabs>
        </b-row>
      </div>
      <div v-else-if="statusgame === 1" class="bg-border-close p-3">
        <div class="container">
          <div class="content_center">
            <div class="content_head m-auto">
              <h1>SLOTPLAY88</h1>
              <h2>ปิดปรับปรุงระบบชั่วคราว</h2>
              <h3 style="color: #fff">ขออภัยในความไม่สะดวก</h3>
              <a
                href="/"
                class="text_a btn btn-header text-btn m-3"
                style="color: #fff"
              >
                กลับสู่หน้าหลัก
              </a>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </b-container>
  </div>
</template>

<script>
import * as gamelist from "@/utils/API/getdata";
import DefaultButtonDisable from "~/components/button/DefaultButtonDisable.vue";
import DefaultButton from "~/components/button/DefaultButton.vue";
import * as Member from "@/utils/member";
export default {
  data() {
    return {
      user: [],
      page: 1,
      perPage: 28,
      pages: [],
      gameList: [],
      gameUrl: "",
      listsloticon: [],
      statusgame: "",
      se: "",
      dayoff: "",
      tabIndex: 2
    };
  },
  components: {
    DefaultButtonDisable,
    DefaultButton
  },
  computed: {
    listslot() {
      return this.paginate(this.gameList);
    }
  },
  async mounted() {
    switch (this.$route.params.game) {
      case "pg":
        await this.getSlot("PG");
        break;
      case "sp":
        await this.getSlot("SP");
        break;
      case "jo":
        await this.getSlot("JO");
        break;
      default:
        await this.getSlot();
        break;
    }
    this.gameUrl = this.$playHost();
    const listslots = await gamelist.slotsnavbar();
    this.listsloticon = listslots.data.games;
    console.log(this.$route.path);
  },

  methods: {
    async getSlot(id = null) {
      const game = [];
      let gameList = await gamelist.GameListslot();
      if (gameList.data.status === true) {
        this.statusgame = 0;
        gameList = gameList.data.games;
        gameList.forEach(el => {
          if (id === null && this.se === "") {
            game.push(el);
          } else if (id === null && el.slot_name.match(this.se)) {
            game.push(el);
          } else if (id === null && el.slot_name.toLowerCase().match(this.se)) {
            game.push(el);
          }

          if (el.game_id === id && this.se === "") {
            game.push(el);
          } else if (el.game_id === id && el.slot_name.match(this.se)) {
            console.log(el);
            game.push(el);
          } else if (
            el.game_id === id &&
            el.slot_name.toLowerCase().match(this.se)
          ) {
            console.log(el);
            game.push(el);
          }
        });
        this.page = 1;
        this.setPages(game.length);

        this.gameList = game;
      } else if (gameList.data.status === false) {
        this.statusgame = 1;
      }

      // return game
    },
    // set pages
    setPages(length) {
      this.pages = [];
      const numberOfPages = Math.ceil(length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },

    // paginate
    paginate(listslot) {
      const page = this.page;
      const perPage = this.perPage;
      const from = page * perPage - perPage;
      const to = page * perPage;
      return listslot.slice(from, to);
    },
    async gotoLobby(id, idgame) {
      if (this.$auth.user) {
        if (id === "JO") {
          let game_url =
            this.gameUrl +
            "play/" +
            "slots/" +
            id +
            "/" +
            idgame +
            "?token=" +
            this.$auth.user.member_token;
          window.location.replace(game_url);
        } else if (
          (navigator.userAgent || navigator.vendor || window.opera).indexOf(
            "Line/"
          ) > -1
        ) {
          let game_url =
            this.gameUrl +
            "play/" +
            "slots/" +
            id +
            "/" +
            idgame +
            "?token=" +
            (await this.$token());
          window.location.replace(game_url);
        } else {
          let windowReference = window.open();
          windowReference.location =
            this.gameUrl +
            "play/" +
            "slots/" +
            id +
            "/" +
            idgame +
            "?token=" +
            (await this.$token());
        }
      } else {
        window.location.replace("/member/login");
      }
    },

    async gotomainlobby(id) {
      if (this.$auth.user) {
        let windowReference = window.open();
        windowReference.location =
          this.gameUrl + "play/" + id + "?token=" + (await this.$token());
      } else {
        window.location.replace("/member/login");
      }
    }
  }
};
</script>

<style scoped>
.form-control {
  border: 2px solid #cf2029;
}

.bg-slot {
  background-image: url(/images/slot/bg-slot.png);
  background-repeat: round;
  background-size: 100% 100%;
}

.slot_search {
  max-width: 300px;
  margin-left: auto;
  margin-top: -60px;
}

.input-group-text {
  background-color: #cf2029;
  border-color: #cf2029;
  margin-bottom: 0px;
}

.btn-active {
  background: var(--tertiary-color);
  color: #e7e700;
}

.bg-border p {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.bg-border h1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 22px;
}

.bg-border h2 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 22px;
}

.text_ind {
  font-size: 20px;
  text-indent: 2rem;
}
</style>
