<template>
  <div class="d-none d-lg-block">
      <index-login-pc></index-login-pc>
  </div>
</template>

<script>
import IndexLoginPc from './IndexLoginPc.vue'
export default {
  components: {IndexLoginPc },
}
</script>

<style>

</style>