<template>
  <div class="bg-login">
    <b-container>
      <div class="login_container">
        <div class="login_wrapper">
          <div class="login_form">
            <h3>เข้าสู่ระบบ!</h3>
            <div class="text-left">
              <user-input class="w-100" v-model="username"></user-input>
            </div>
            <div class="text-left">
              <password-input class="w-100" v-model="password"></password-input>
            </div>
            <div class="btn-submit">
              <button type="submit" @click="userLogin()">เข้าสู่ระบบ</button>
            </div>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import UserInput from "~/components/input/UserInput.vue";
import PasswordInput from "~/components/input/PasswordInput.vue";
import * as login from "@/utils/member";
export default {
  components: { PasswordInput, UserInput },
  data() {
    return {
      // form: {
      //     username: null,
      //     password: null,
      // },
      username: "",
      password: "",
      user: []
    };
  },
  methods: {
    async userLogin() {
      await login.login(this.username, this.password).then(res => {
        if (res.status === true) {
          this.$swal({
            icon: "success",
            title: "เข้าสู่ระบบสำเร็จ",
            toast: true,
            position: "top-end",
            timer: 2000,
            timerProgressBar: true,
            showConfirmButton: false
          }).then(() => {
            window.location.replace("/member");
          });
          return;
        } else {
          this.$swal({
            icon: "error",
            title: "ชื่อผู้ใช้หรือรหัสผ่าน ไม่ถูกต้อง",
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false
          });
        }
      });
    }
  }
};
</script>

<style scoped>
.bg-login {
  background: var(--primary-color);
}

h3 {
  color: var(--quaternary-color);
}

.login_container {
  position: relative;
  text-align: -webkit-center;
  padding-top: 10rem;
}

.login_wrapper {
  max-width: 900px;
  margin: 0 auto;
  z-index: 2;
  height: 100vh;
}

.login_form {
  max-width: 350px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_title {
  font-size: 30px;
  color: white;
}

.login_promote {
  position: absolute;
  top: 0;
  right: 0;
  width: 120vh;
  height: 100%;
  background-image: url(/images/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -5;
}

@media screen and (max-width: 1200px) {
  .login_form {
    margin: 0 auto;
  }

  .login_promote {
    display: none;
  }
}

label {
  color: var(--quaternary-color);
  margin-left: 10px;
}

.form_input {
  position: relative;
}

.form_input_icon {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  transform: translateY(-50%);
  background-color: var(--warning-color);
}

.form_input_input {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 50px;
  border-radius: 40px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  color: #222222;
  height: 100%;
  background-color: #fbfbfb;
}

.form_input_input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: 0;
}

.btn-submit button {
  border-radius: 20px;
  width: 120px;
  margin-top: 1rem;
  border: 2px solid var(--tertiary-color);
  background: var(--quinary-color);
  color: var(--quaternary-color);
}
.btn-submit button:hover {
  background: transparent;
}

.btn-submit {
  text-align: right;
}
</style>
