<template>
<div class="d-lg-none d-block">
    <b-container>
        <div class="pb-2 mb-3">
            <slide-tab-mobile></slide-tab-mobile>
            <b-container>
                <b-row>
                    <b-col class="backchang">
                        <index-voucher-mobile></index-voucher-mobile>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </b-container>
</div>
</template>

<script>
import SlideTabMobile from '~/components/slidetab/SlideTabMobile.vue'
import IndexVoucherMobile from './IndexVoucherMobile.vue'
export default {
    components: {
        IndexVoucherMobile,
        SlideTabMobile
    },

}
</script>

<style scoped>
.backchang {
    box-shadow: 0px 0px 1px 1px #b0b3b0;
    background: #dbdad9;
}
</style>
