<template>
  <b-container class="pt-4 detail">
    <b-row>
      <b-col class="p-0 mx-auto mt-5">
        <voucher-detail></voucher-detail>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import VoucherDetail from "../VoucherDetail.vue";

export default {
  components: {
    VoucherDetail
  }
};
</script>

<style scoped>
.detail {
  min-height: 23rem;
}
</style>
