<template>
<div class="mt-3">
    <b-container class="slidetab">
        <b-row class="d-flex justify-content-center mt-2">
            <div v-for="items in menuItems" :key="items.name" :class="['tabgame px-4 pt-2', { active: isMenuActive(items.path) }]">
                <nuxt-link :to="items.path" class="slidetxt">
                    <div>{{ items.name}}</div>
                </nuxt-link>
            </div>
        </b-row>
    </b-container>
</div>
</template>

<script>
export default {
    data() {
        return {
            menuItems: [{
                    path: "/member",
                    name: "ระบบสมาชิก"
                },
                {
                    path: "/member/profile",
                    name: "ข้อมูลส่วนตัว"
                },
                {
                    path: "/member/deposit",
                    name: "ฝากเงินออโต้"
                },
                {
                    path: "/member/withdraw",
                    name: "ถอนเงิน"
                },
                {
                    path: "/member/history",
                    name: "ประวัติทำรายการ"
                },
                {
                    path: "/member/member-affiliate",
                    name: "สร้างรายได้"
                },
                // {
                //     path: "/member/gife",
                //     name: "แลกของราวัล"
                // },
                {
                    path: "/member/voucher",
                    name: "คูปอง"
                }
            ],
        };
    },
    methods: {
        isMenuActive(path) {
            return this.$route.path === path;
        }
    },

}
</script>

<style scoped>
.slidetab {
    background: rgb(207 32 41);
    color: white;
    box-shadow: 0px 0px 2px 2px #8c1d1d;
    height: 60px;
}

.tabgame.active {
    border-bottom: 4px solid var(--quaternary-color);
}

.slidetxt {
    color: var(--quaternary-color);
}

.slidetxt:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
</style>
