<template>
<div class="mt-3">
    <b-container id="slidetab" class="navslidetab">
        <b-row class="d-flex justify-content-center mt-2 tab-menu">
            <ul class="nav">
                <li class="nav-item" v-for="item in menuItems" :key="item.name" :class="['tabgame px-4 pt-2', { active: isMenuActive(item.path) }]">
                    <nuxt-link :to="item.path" class="slidetext">
                        <div>{{ item.name }}</div>
                    </nuxt-link>
                </li>
            </ul>
        </b-row>
    </b-container>
</div>
</template>

<script>
export default {
    data() {
        return {
            menuItems: [{
                    path: "/member",
                    name: "ระบบสมาชิก"
                },
                {
                    path: "/member/profile",
                    name: "ข้อมูลส่วนตัว"
                },
                {
                    path: "/member/deposit",
                    name: "ฝากเงินออโต้"
                },
                {
                    path: "/member/withdraw",
                    name: "ถอนเงิน"
                },
                {
                    path: "/member/history",
                    name: "ประวัติทำรายการ"
                },
                {
                    path: "/member/member-affiliate",
                    name: "สร้างรายได้"
                },
                // {
                //     path: "/member/gife",
                //     name: "แลกของราวัล"
                // },
                {
                    path: "/member/voucher",
                    name: "คูปอง"
                }
            ],
        }
    },
    methods: {
        isMenuActive(path) {
            return this.$route.path === path;
        }
    },

}
</script>

<style scoped>
.navslidetab {
    background: rgb(207 32 41);
    color: white;
    box-shadow: 0px 0px 2px 2px #8c1d1d;
}
.bg-data {
    box-shadow: 0px 0px 1px 1px #b0b3b0;
    background: #dbdad9;
}

.bg-history {
    background: #fcfbfb;
    box-shadow: 0px 0px 1px 1px #d0d0d0;
}

.tabgame.active {
    border-bottom: 4px solid var(--quaternary-color);
}

.slidetext {
    color: var(--quaternary-color);
}

.slidetext:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

#slidetab .nav .nav-item .nav-link {
    display: block;
    padding: 0.5rem 1.5rem;
}

#slidetab .nav .nav-item .nav-link {
    color: #000 !important;
}

#slidetab .nav .nav-item .active {
    background: transparent !important;
    border-bottom: solid 4px rgba(165, 26, 27, 1);
}

.tab-menu .nav {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.tab-menu .nav .nav-item {
    white-space: nowrap;
    height: 3.35rem;
}
</style>
