<template>
  <div class="d-lg-none d-block">
    <b-container class="bg-border">
      <div class="pb-2 mb-3">
        <slide-tab-mobile></slide-tab-mobile>
        <b-container>
          <b-row>
            <b-col cols="12" class="bg-data">
              <system-memberaff></system-memberaff>
            </b-col>
            <b-col cols="12" class="bg-history">
              <index-memberaff-mobile></index-memberaff-mobile>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </b-container>
  </div>
</template>

<script>
import SlideTabMobile from "~/components/slidetab/SlideTabMobile.vue";
import SystemMemberaff from "../SystemMemberaff.vue";
import IndexMemberaffMobile from "./IndexMemberaffMobile.vue";
export default {
  components: {
    IndexMemberaffMobile,
    SlideTabMobile,
    SystemMemberaff
  }
};
</script>

<style scoped>
.bg-data {
  box-shadow: 0px 0px 1px 1px #b0b3b0;
  background: #dbdad9;
}

.bg-history {
  background: #fcfbfb;
  box-shadow: 0px 0px 1px 1px #d0d0d0;
}
</style>
