<template>
  <b-form-group>
    <label :class="[{ 'is-white': labelWhite }]">{{ label }}</label>
    <div class="form-input">
      <b-form-input
        class="form-input__input"
        readonly
        :value="value"
      ></b-form-input>
      <div class="divider-red"></div>
    </div>
  </b-form-group>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: "",
    },
    value: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    placeholder: {
      type: String,
      default: "",
    },
    labelWhite: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
label {
  color: var(--tertiary-color);
  margin-left: 10px;
  font-size: 1.25rem;
}

label.is-white {
  color: white;
}

.form-input {
  position: relative;
}

.form-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.form-input__input {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 0;
  border: 0px;
  font-size: 35px;
  color: #222222;
  height: 100%;
  background-color: transparent;
  font-weight: bold;
}

.form-input__input:focus {
  border-color: var(--tertiary-color);
  box-shadow: none;
  outline: 0;
}
.divider-red {
  border-bottom: 2px solid #a51a1b;
  width: 100%;
}

@media screen and (max-width: 767px) {
  label {
    display: block;
  }
}

i {
  color: #000000;
}
</style>
