<template>
<b-form-group>
    <label>รหัสผ่าน</label>
    <div class="form-input">
        <div class="form-input__icon">
            <img src="/images/passwordicon.png" alt="bank" />
        </div>
        <b-form-input class="form-input__input" type="password" required placeholder="รหัสผ่าน" @input.native="$emit('input', $event.target.value)" oninput="return event.target.value = event.target.value.replace(' ', '')"></b-form-input>
    </div>
</b-form-group>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ""
        }
    }
};
</script>

<style scoped>
label {
    color: #ffffff;
    margin-left: 10px;
    font-size: 1.2rem;
}

.form-input {
    position: relative;
}

.form-input__icon {
    position: absolute;
    left: 0;
    width: 45px;
    height: 100%;
    background-color: var(--warning-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.form-input__icon img {
    width: 20px;
}

.form-input__input {
    padding-left: 60px;
    border-radius: 5px;
    border: 3px solid var(--warning-color);
    background: #101010;
    color: #ffffff;
    font-size: 1.2rem;
}

.form-input__input:focus {
    box-shadow: none;
    border-color: var(--quaternary-color);
    outline: 0;
}
</style>
