<template>
  <div class="d-lg-none d-block">
      <index-affiliate-mobile></index-affiliate-mobile>
  </div>
</template>

<script>
import IndexAffiliateMobile from './IndexAffiliateMobile.vue'
export default {
  components: {IndexAffiliateMobile  },

}
</script>

<style>

</style>