<template>
  <div>
    <b-container class="regisform d-flex justify-content-center">
      <div id="registermbbox1" class="fromregis">
        <h3 class="text-center pb-4">ลงทะเบียนขั้นตอนที่ 1</h3>
        <div class="d-flex justify-content-center">
          <phone-regis
            class="w-100"
            v-model="username"
            @input="checkphone()"
          ></phone-regis>
          <b-input-group-prepend is-text v-if="icon.phone === 1">
            <i v-if="icon.phonecheck === 1" class="fas fa-times icon-white"></i>
            <i v-if="icon.phonecheck === 2" class="fas fa-check icon-white"></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-end">
          <span class="w-50 text-right" @click="regisboxstep1()">
            <next-button title="ต่อไป ❯" class="w-50"></next-button>
          </span>
        </div>
        <div class="d-flex justify-content-center pb-2 pr-2">
          <label style="text-decoration: none;"
            >สมัครไม่ได้ให้เราสมัครให้ฟรี
            <text-main-button
              title="ติดต่อคลิ๊ก!"
              :href="listcontact.contact_line_url"
            ></text-main-button
          ></label>
        </div>
      </div>
      <div id="registermbbox2" class="fromregister" style="display: none">
        <h3 class="text-center pb-4">ลงทะเบียนขั้นตอนที่ 2</h3>
        <div class="d-flex justify-content-center">
          <b-form-group class="w-100">
            <label>ธนาคารสำหรับฝาก - ถอนเงิน</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/bankname.png" alt="bank" />
              </div>
              <select
                v-model="member_bank"
                class="form-control form-input__input selectpicker text-white"
                @change="checkmemberbank()"
              >
                <option value="">กรุณาเลือกธนาคาร</option>
                <option data-icon="i-kbank i-bank" value="KBANK"
                  >กสิกรไทย</option
                >
                <option data-icon="i-scb i-bank" value="SCB">ไทยพาณิชย์</option>
                <option data-icon="i-bbl i-bank" value="BBL">กรุงเทพ</option>
                <option data-icon="i-ktb i-bank" value="KTB">กรุงไทย</option>
                <option data-icon="i-tmb i-bank" value="TMB">ทหารไทย</option>
                <option data-icon="i-gsb i-bank" value="GSB">ออมสิน</option>
                <option data-icon="i-tbank i-bank" value="TBANK">ธนชาติ</option>
                <option data-icon="i-bay i-bank" value="BAY">
                  กรุงศรีอยุธยา
                </option>
                <option data-icon="i-lhb i-bank" value="LHB">
                  แลนด์ แอนด์ เฮ้าส์
                </option>
                <option data-icon="i-ghb i-bank" value="GHB">
                  อาคารสงเคราะห์
                </option>
                <option data-icon="i-ibank i-bank" value="IBANK">
                  อิสลามแห่งประเทศไทย
                </option>
                <option data-icon="i-baac i-bank" value="BAAC">
                  เพื่อการเกษตรและสหกรณ์การเกษตร
                </option>
                <option data-icon="i-uob i-bank" value="UOB">ยูโอบี</option>
                <option data-icon="i-tisco i-bank" value="TISCO">ทิสโก้</option>
                <option data-icon="i-cimb i-bank" value="CIMB">
                  ซีไอเอ็มบีไทย
                </option>
                <option data-icon="i-kk i-bank" value="KK">เกียรตินาคิน</option>
                <option data-icon="i-sc i-bank" value="SC">
                  สแตนดาร์ดชาร์เตอร์ดไทย
                </option>
              </select>
            </div>
          </b-form-group>
          <b-input-group-prepend is-text v-if="icon.memberbank === 1">
            <i
              v-if="icon.memberbankcheck === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberbankcheck === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center">
          <number-bank-input
            class="w-100"
            v-model="member_bank_account_number"
            @input="checkmemberbanknumber()"
          ></number-bank-input>
          <b-input-group-prepend
            is-text
            v-if="icon.memberbankaccountnumber === 1"
          >
            <i
              v-if="icon.memberbankaccountnumbercheck === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberbankaccountnumbercheck === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center" v-if="member_bank !== 'SCB'">
          <b-form-group class="w-100">
            <label>ชื่อ</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/usericon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_firstname"
                type="text"
                @input="checkmemberfirstname()"
                onkeypress="return event.charCode >= 3585 && event.charCode <= 3641 || event.charCode >= 3648 && event.charCode <= 3660 ||
                event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122"
                required
                placeholder="ชื่อ"
              ></b-form-input>
            </div> </b-form-group
          ><b-input-group-prepend is-text v-if="icon.memberfirstname === 1">
            <i
              v-if="icon.memberfirstnamecheck === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberfirstnamecheck === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center" v-if="member_bank !== 'SCB'">
          <b-form-group class="w-100">
            <label>นามสกุล</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/usericon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_lastname"
                type="text"
                @input="checkmemberlastname()"
                onkeypress="return event.charCode >= 3585 && event.charCode <= 3641 || event.charCode >= 3648 && event.charCode <= 3660 ||
                event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122"
                required
                placeholder="นามสกุล"
              ></b-form-input>
            </div> </b-form-group
          ><b-input-group-prepend is-text v-if="icon.memberlastname === 1">
            <i
              v-if="icon.memberlastnamecheck === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberlastnamecheck === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center" v-if="member_bank === 'SCB'">
          <b-form-group class="w-100">
            <label>ชื่อ</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/usericon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_firstname"
                type="text"
                @input="checkmemberfirstname()"
                onkeypress="return event.charCode >= 3585 && event.charCode <= 3641 || event.charCode >= 3648 && event.charCode <= 3660"
                required
                placeholder="ชื่อ"
              ></b-form-input>
            </div> </b-form-group
          ><b-input-group-prepend is-text v-if="icon.memberfirstname === 1">
            <i
              v-if="icon.memberfirstnamecheck === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberfirstnamecheck === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center" v-if="member_bank === 'SCB'">
          <b-form-group class="w-100">
            <label>นามสกุล</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/usericon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_lastname"
                type="text"
                @input="checkmemberlastname()"
                onkeypress="return event.charCode >= 3585 && event.charCode <= 3641 || event.charCode >= 3648 && event.charCode <= 3660"
                required
                placeholder="นามสกุล"
              ></b-form-input>
            </div> </b-form-group
          ><b-input-group-prepend is-text v-if="icon.memberlastname === 1">
            <i
              v-if="icon.memberlastnamecheck === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberlastnamecheck === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center" v-if="member_bank === 'SCB'">
          <b-form-group class="w-100">
            <label>ชื่อภาษาอังกฤษ</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/usericon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_firstname_en"
                type="text"
                @input="checkmemberfirstnameen()"
                onkeypress="return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122"
                required
                placeholder="ชื่อภาษาอังกฤษ"
              ></b-form-input>
            </div> </b-form-group
          ><b-input-group-prepend is-text v-if="icon.memberfirstnameen === 1">
            <i
              v-if="icon.memberfirstnamechecken === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberfirstnamechecken === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center" v-if="member_bank === 'SCB'">
          <b-form-group class="w-100">
            <label>นามสกุลภาษาอังกฤษ</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/usericon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_lastname_en"
                type="text"
                @input="checkmemberlastnameen()"
                onkeypress="return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122"
                required
                placeholder="นามสกุลภาษาอังกฤษ"
              ></b-form-input>
            </div> </b-form-group
          ><b-input-group-prepend is-text v-if="icon.memberlastnameen === 1">
            <i
              v-if="icon.memberlastnamechecken === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.memberlastnamechecken === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-end">
          <span class="w-75 text-left" @click="onPrevious2()">
            <previous-button title="❮ ย้อนกลับ" class="w-75"></previous-button>
          </span>
          <span class="w-75 text-right" @click="registerstep2()">
            <next-button title="ต่อไป ❯" class="w-75"></next-button>
          </span>
        </div>
      </div>
      <div id="registermbbox3" class="fromregister" style="display: none">
        <h3 class="text-center pb-4">ลงทะเบียนขั้นตอนที่ 3</h3>
        <div class="d-flex justify-content-center">
          <b-form-group class="w-100">
            <label>รหัสผ่าน</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/passwordicon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                @input="checkpassword()"
                v-model="member_password"
                type="password"
                required
                placeholder="รหัสผ่าน"
                oninput="return event.target.value = event.target.value.replace(' ', '')"
              ></b-form-input>
            </div>
          </b-form-group>
          <b-input-group-prepend is-text v-if="icon.password === 1">
            <i
              v-if="icon.passwordcheck === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.passwordcheck === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center">
          <b-form-group class="w-100">
            <label>ยืนยันรหัสผ่าน</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/passwordicon.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                @input="checkpasswordre()"
                v-model="remember_password"
                type="password"
                required
                placeholder="ยืนยันรหัสผ่าน"
                oninput="return event.target.value = event.target.value.replace(' ', '')"
              ></b-form-input>
            </div>
          </b-form-group>
          <b-input-group-prepend is-text v-if="icon.passwordre === 1">
            <i
              v-if="icon.passwordcheckre === 1"
              class="fas fa-times icon-white"
            ></i>
            <i
              v-if="icon.passwordcheckre === 2"
              class="fas fa-check icon-white"
            ></i>
          </b-input-group-prepend>
        </div>
        <div class="d-flex justify-content-center">
          <b-form-group class="w-100">
            <label>ไลน์ ไอดี (ถ้ามี)</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/lineid.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_lineid"
                type="text"
                required
                placeholder="ไลน์ ไอดี (ถ้ามี)"
                onkeypress="return event.charCode >= 32 && event.charCode <= 127"
              ></b-form-input>
            </div>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-center">
          <b-form-group class="w-100">
            <label>อีเมล (ถ้ามี)</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/email.png" alt="bank" />
              </div>
              <b-form-input
                class="form-input__input"
                v-model="member_email"
                type="text"
                required
                placeholder="อีเมล (ถ้ามี)"
                onkeypress="return event.charCode >= 32 && event.charCode <= 127"
              ></b-form-input>
            </div>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-center">
          <b-form-group class="w-100">
            <label>รู้จักเราจากช่องทางใด</label>
            <div class="form-input">
              <div class="form-input__icon">
                <img src="/images/search.png" alt="bank" />
              </div>
              <select
                class="form-control form-input__input text-white"
                v-model="register_recommend"
              >
                <option value="other" selected>รู้จักเราจากช่องทางใด</option>
                <option value="Facebook">Facebook</option>
                <option value="Google">Google</option>
                <option value="GoogleSlot">Google Slot</option>
                <option value="GoogleAds">Google Ads</option>
                <option value="Line">Line</option>
                <option value="IG">Instagram (IG)</option>
                <option value="SMS">SMS</option>
                <option value="BannerMovie">Banner Movie</option>
                <option value="Banner18+">Banner 18</option>
                <option value="Bannerhub">Banner Hub</option>
                <option value="Unknown">อื่น ๆ</option>
              </select>
            </div>
          </b-form-group>
        </div>
        <div class="d-flex justify-content-end">
          <span class="w-75 text-left" @click="onPrevious3()">
            <previous-button title="❮ ย้อนกลับ" class="w-75"></previous-button>
          </span>
          <span class="w-75 text-right" @click="registerstep3()">
            <next-button title="สมัครสมาชิก" class="w-75"></next-button>
          </span>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import * as Register from "@/utils/API/register";
import * as login from "@/utils/member";
import SecondButton from "~/components/button/SecondButton.vue";
import MainButton from "~/components/button/MainButton.vue";
import NextButton from "~/components/button/NextButton.vue";
import TextMainButton from "~/components/button/TextMainButton.vue";
import PreviousButton from "~/components/button/PreviousButton.vue";
import * as contact from "@/utils/API/getdata";
import PhoneRegis from "~/components/input/PhoneRegis.vue";
import NumberBankInput from "~/components/input/NumberBankInput.vue";
export default {
  components: {
    SecondButton,
    TextMainButton,
    MainButton,
    NextButton,
    PreviousButton,
    NumberBankInput,
    PhoneRegis
  },
  data() {
    return {
      step: 1,
      icon: {
        phone: 0,
        phonecheck: 0,
        memberbank: 0,
        memberbankcheck: 0,
        memberbankaccountnumber: 0,
        memberbankaccountnumbercheck: 0,
        memberfirstname: 0,
        memberfirstnamecheck: 0,
        memberlastname: 0,
        memberlastnamecheck: 0,
        memberfirstnameen: 0,
        memberfirstnamechecken: 0,
        memberlastnameen: 0,
        memberlastnamechecken: 0,
        password: 0,
        passwordcheck: 0,
        passwordre: 0,
        passwordcheckre: 0
      },
      username: "",
      member_bank: "",
      member_username: "",
      member_bank_account_number: "",
      member_firstname: "",
      member_lastname: "",
      member_firstname_en: "",
      member_lastname_en: "",
      member_password: "",
      remember_password: "",
      register_recommend: "",
      affiliate_code: "",
      member_email: "",
      member_lineid: "",
      listcontact: ""
    };
  },
  beforeMount() {
    if (this.$auth.loggedIn) {
      this.$auth.logout();
      this.$auth.$storage.removeUniversal("_token.local");
      this.$auth.$storage.removeUniversal("strategy");
      this.$auth.$storage.setState("loggedIn", false);
    }
  },
  async mounted() {
    const cont = await contact.getContact();
    this.listcontact = cont;
    switch (this.$route.query.recommand) {
      case "line":
        this.register_recommend = "Line";
        break;
      case "other":
        this.register_recommend = "Other";
        break;
      case "facebook":
        this.register_recommend = "Facebook";
        break;
      case "google":
        this.register_recommend = "Google";
        break;
      case "googleslot":
        this.register_recommend = "GoogleSlot";
        break;
      case "googleads":
        this.register_recommend = "GoogleAds";
        break;
      case "ig":
        this.register_recommend = "IG";
        break;
      case "sms":
        this.register_recommend = "SMS";
        break;
      case "bannermovie":
        this.register_recommend = "BannerMovie";
        break;
      case "banner18+":
        this.register_recommend = "Banner18+";
        break;
      case "":
        this.register_recommend = "Unknown";
        break;
      default:
        this.register_recommend = "Unknown";
        break;
    }
    if (typeof this.$route.query.aff !== "undefined") {
      this.$cookies.set("aff-code", this.$route.query.aff);
    }
    this.affiliate_code = this.$cookies.get("aff-code");
  },
  methods: {
    async regisboxstep1() {
      await Register.step1(this.username).then(res => {
        if (res.status === 400) {
          this.$swal({
            icon: "warning",
            title: "เกิดข้อผิดพลาด !",
            text: "กรอกข้อมูลไม่ถูกต้อง"
          }).then(() => {
            this.username = "";
            this.member_username = "";
          });
        } else if (res.data.status === true) {
          document.getElementById("registermbbox1").style.display = "none";
          document.getElementById("registermbbox2").style.display = "block";
          this.step = 2;
        } else if (res.data.status === false) {
          this.$swal({
            icon: "error",
            title: "กรุณากรอกข้อมูลใหม่",
            text: "หมายเลข " + this.username + " มีผู้ใช้แล้ว !"
          }).then(() => {
            this.username = "";
            this.member_username = "";
          });
        }
      });
    },
    async checkphone() {
      const regis1 = await Register.step1(this.username);
      if (regis1.status === 400) {
        this.icon.phone = 1;
        this.icon.phonecheck = 1;
      } else if (regis1.data.status === true) {
        this.icon.phone = 1;
        this.icon.phonecheck = 2;
      } else if (regis1.data.status === false) {
        this.icon.phone = 1;
        this.icon.phonecheck = 1;
      }
    },
    async registerstep2() {
      if (
        this.member_bank === "" ||
        this.member_bank_account_number === "" ||
        this.member_firstname === "" ||
        this.member_lastname === ""
      ) {
        this.$swal({
          icon: "warning",
          title: "เกิดข้อผิดพลาด !",
          text: "ใส่ข้อมูลไม่ครบ"
        });
      } else {
        await Register.step2(
          this.member_bank,
          this.member_bank_account_number,
          this.member_firstname,
          this.member_lastname,
          this.member_firstname_en,
          this.member_lastname_en
        ).then(res => {
          if (res.status === 400) {
            this.$swal({
              icon: "warning",
              title: "เกิดข้อผิดพลาด !",
              text: "กรอกข้อมูลไม่ถูกต้อง"
            }).then(() => {});
          } else if (res.data.status === true) {
            document.getElementById("registermbbox1").style.display = "none";
            document.getElementById("registermbbox2").style.display = "none";
            document.getElementById("registermbbox3").style.display = "block";
            this.step = 3;
          } else if (res.data.status === false) {
            this.$swal({
              icon: "warning",
              title: "กรุณากรอกข้อมูลใหม่ !",
              text: "เลขบัญชี หรือ ชื่อและนามสกุล มีผู้ใช้แล้ว"
            }).then(() => {});
          }
        });
      }
    },
    checkmemberbank() {
      if (this.member_bank === null || this.member_bank === "") {
        this.icon.memberbank = 1;
        this.icon.memberbankcheck = 1;
      } else if (this.member_bank !== null) {
        this.icon.memberbank = 1;
        this.icon.memberbankcheck = 2;
      }
    },
    checkmemberbanknumber() {
      if (
        this.member_bank_account_number === null ||
        this.member_bank_account_number === ""
      ) {
        this.icon.memberbankaccountnumber = 1;
        this.icon.memberbankaccountnumbercheck = 1;
      } else if (this.member_bank_account_number.length < 10) {
        this.icon.memberbankaccountnumber = 1;
        this.icon.memberbankaccountnumbercheck = 1;
      } else if (this.member_bank_account_number !== "") {
        this.icon.memberbankaccountnumber = 1;
        this.icon.memberbankaccountnumbercheck = 2;
      }
    },
    checkmemberfirstname() {
      if (this.member_firstname === null || this.member_firstname === "") {
        this.icon.memberfirstname = 1;
        this.icon.memberfirstnamecheck = 1;
      } else if (this.member_firstname !== null) {
        this.icon.memberfirstname = 1;
        this.icon.memberfirstnamecheck = 2;
      }
    },
    checkmemberlastname() {
      if (this.member_lastname === null || this.member_lastname === "") {
        this.icon.memberlastname = 1;
        this.icon.memberlastnamecheck = 1;
      } else if (this.member_lastname !== null) {
        this.icon.memberlastname = 1;
        this.icon.memberlastnamecheck = 2;
      }
    },
    checkmemberfirstnameen() {
      if (
        this.member_firstname_en === null ||
        this.member_firstname_en === ""
      ) {
        this.icon.memberfirstnameen = 1;
        this.icon.memberfirstnamechecken = 1;
      } else if (this.member_firstname_en !== null) {
        this.icon.memberfirstnameen = 1;
        this.icon.memberfirstnamechecken = 2;
      }
    },
    checkmemberlastnameen() {
      if (this.member_lastname_en === null || this.member_lastname_en === "") {
        this.icon.memberlastnameen = 1;
        this.icon.memberlastnamechecken = 1;
      } else if (this.member_lastname_en !== null) {
        this.icon.memberlastnameen = 1;
        this.icon.memberlastnamechecken = 2;
      }
    },
    async registerstep3() {
      this.member_username = this.username;
      if (this.member_email !== "") {
        const atpos = this.member_email.indexOf("@");
        const dotpos = this.member_email.lastIndexOf(".");
        if (
          atpos < 1 ||
          dotpos < atpos + 2 ||
          dotpos + 2 >= this.member_email.length
        ) {
          this.$swal({
            icon: "warning",
            title: "กรุณากรอกข้อมูลใหม่ !",
            text: "รูปแบบอีเมลไม่ถูกต้อง"
          }).then(() => {});
        }
      }
      if (this.member_password === "" || this.remember_password === "") {
        this.$swal({
          icon: "warning",
          title: "เกิดข้อผิดพลาด !",
          text: "กรุณากรอกข้อมูล"
        }).then(() => {});
      } else if (this.member_password.length < 6) {
        this.$swal({
          icon: "warnning",
          title: "เกิดข้อผิดพลาด !",
          text: "กรุณาใส่รหัสผ่านอย่างน้อย 6 ตัว"
        }).then(res => {
          this.member_password = null;
          this.remember_password = null;
        });
      } else if (this.member_password === this.remember_password) {
        await Register.step3(
          this.member_bank,
          this.member_bank_account_number,
          this.member_firstname,
          this.member_lastname,
          this.member_firstname_en,
          this.member_lastname_en,
          this.member_username,
          this.member_password,
          this.register_recommend,
          this.affiliate_code,
          this.member_email,
          this.member_lineid
        ).then(res => {
          if (res.data.status === false) {
            this.$swal({
              icon: "warning",
              title: "เกิดข้อผิดพลาด !",
              text: "กรอกข้อมูลไม่ถูกต้อง"
            }).then(() => {});
          } else if (res.data.status === true) {
            this.$swal({
              icon: "success",
              text: "สมัครสำเร็จ"
            }).then(() => {
              if (this.member_bank === "KBANK") {
                this.member_bank = "ธนาคารกสิกรไทย";
              } else if (this.member_bank === "SCB") {
                this.member_bank = "ธนาคารไทยพาณิชย์";
              } else if (this.member_bank === "BBL") {
                this.member_bank = "ธนาคารกรุงเทพ";
              } else if (this.member_bank === "KTB") {
                this.member_bank = "ธนาคารกรุงไทย";
              } else if (this.member_bank === "TMB") {
                this.member_bank = "ธนาคารทหารไทย";
              } else if (this.member_bank === "GSB") {
                this.member_bank = "ธนาคารออมสิน";
              } else if (this.member_bank === "TBANK") {
                this.member_bank = "ธนาคารธนชาติ";
              } else if (this.member_bank === "BAY") {
                this.member_bank = "ธนาคารกรุงศรีอยุธยา";
              } else if (this.member_bank === "LHB") {
                this.member_bank = "ธนาคารแลนด์แอนด์เฮ้าส์";
              } else if (this.member_bank === "GHB") {
                this.member_bank = "ธนาคารอาคารสงเคราะห์";
              } else if (this.member_bank === "IBANK") {
                this.member_bank = "ธนาคารอิสลามแห่งประเทศไทย";
              } else if (this.member_bank === "BAAC") {
                this.member_bank = "ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร";
              } else if (this.member_bank === "UOB") {
                this.member_bank = "ธนาคารยูโอบี";
              } else if (this.member_bank === "TISCO") {
                this.member_bank = "ธนาคารทิสโก้";
              } else if (this.member_bank === "CIMB") {
                this.member_bank = "ธนาคารซีไอเอ็มบีไทย";
              } else if (this.member_bank === "KK") {
                this.member_bank = "ธนาคารเกียรตินาคิน";
              } else if (this.member_bank === "SC") {
                this.member_bank = "ธนาคารสแตนดาร์ดชาร์เตอร์ดไทย";
              }
              this.$swal({
                title: '<h3 class="text-white">สมัครเสร็จสมบรูณ์</h3>',
                html:
                  '<p class="text-left text-warning" style="margin-bottom: 0rem;">ชื่อเว็บ: </p>' +
                  '<div style="display:flex;"><p style="border-style:ridge;border-right:0px;padding:0.5rem;background:#a11;color:#fff;"><i class="fas fa-home"></i></p><p class="text-left" style="border-style:ridge;padding:0.5rem;color:#fff;font-size:1rem;width:100%;">Major168</p></div>' +
                  '<p class="text-left text-warning" style="margin-bottom: 0rem;">ชื่อ-นามสกุล: </p>' +
                  '<div style="display:flex;flex-wrap:inherit;"><p style="border-style:ridge;border-right:0px;padding:0.5rem;background:#a11;color:#fff;"><i class="fas fa-user"></i></p><p class="text-left" style="border-style:ridge;padding:0.5rem;color:#fff;font-size:1rem;width:100%;">' +
                  this.member_firstname +
                  " " +
                  this.member_lastname +
                  "</p></div>" +
                  '<p class="text-left text-warning" style="margin-bottom: 0rem;">เบอร์โทรศัพท์: </p>' +
                  '<div style="display:flex;flex-wrap:inherit;"><p style="border-style:ridge;border-right:0px;padding:0.5rem;background:#a11;color:#fff;"><i class="fa fa-phone-alt"></i></p><p class="text-left" style="border-style:ridge;padding:0.5rem;color:#fff;font-size:1rem;width:100%;">' +
                  this.member_username +
                  "</p></div>" +
                  '<p class="text-left text-warning" style="margin-bottom: 0rem;">รหัสผ่าน: </p>' +
                  '<div style="display:flex;flex-wrap:inherit;"><p style="border-style:ridge;border-right:0px;padding:0.5rem;background:#a11;color:#fff;"><i class="fa fa-key"></i></p><p class="text-left" style="border-style:ridge;padding:0.5rem;color:#fff;font-size:1rem;width:100%;">' +
                  this.member_password +
                  "</p></div>" +
                  '<p class="text-left text-warning" style="margin-bottom: 0rem;">ชื่อธนาคารของคุณ: </p>' +
                  '<div style="display:flex;flex-wrap:inherit;"><p style="border-style:ridge;border-right:0px;padding:0.5rem;background:#a11;color:#fff;"><i class="fas fa-university"></i></p><p class="text-left" style="border-style:ridge;padding:0.5rem;color:#fff;font-size:1rem;width:100%;">' +
                  this.member_bank +
                  "</p></div>" +
                  '<p class="text-left text-warning" style="margin-bottom: 0rem;">เลขบัญชีของคุณ: </p>' +
                  '<div style="display:flex;flex-wrap:inherit;"><p style="border-style:ridge;border-right:0px;padding:0.5rem;background:#a11;color:#fff;"><i class="fa fa-credit-card-alt"></i></p><p class="text-left" style="border-style:ridge;padding:0.5rem;color:#fff;font-size:1rem;width:100%;">' +
                  this.member_bank_account_number +
                  "</p></div>" +
                  '<h5 class="text-white text-center" style="font-size: 1rem;">(แนะนำแคปหน้าจอข้อมูลส่วนตัวไว้ค่ะ)</h5>',
                showCancelButton: true,
                confirmButtonText: "เข้าสู่เกม",
                cancelButtonText: "ติดต่อรับโบนัส",
                cancelButtonColor: "#d33",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                background: "#090f1b",
                color: "#ffffff",
                width: "500px"
              }).then(result => {
                if (result.value) {
                  login
                    .login(this.member_username, this.member_password)
                    .then(res => {
                      this.$swal({
                        icon: "success",
                        title: "เข้าสู่ระบบสำเร็จ",
                        toast: true,
                        position: "top-end",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                      }).then(() => {
                        window.location.replace("/");
                      });
                    });
                } else if (result.dismiss === "cancel") {
                  login
                    .login(this.member_username, this.member_password)
                    .then(res => {
                      this.$swal({
                        icon: "success",
                        title: "เข้าสู่ระบบสำเร็จ",
                        toast: true,
                        position: "top-end",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                      }).then(() => {
                        window.location.replace("/contact");
                      });
                    });
                }
              });
            });
          }
        });
      } else if (this.member_password !== this.remember_password) {
        this.$swal({
          icon: "warning",
          title: "เกิดข้อผิดพลาด !",
          text: "กรอกข้อมูลไม่ถูกต้อง"
        }).then(() => {});
      }
    },
    checkpassword() {
      if (this.member_password === null || this.member_password === "") {
        this.icon.password = 1;
        this.icon.passwordcheck = 1;
      } else if (this.member_password !== null) {
        this.icon.password = 1;
        this.icon.passwordcheck = 2;
      }
    },
    checkpasswordre() {
      if (this.remember_password !== this.member_password) {
        this.icon.passwordre = 1;
        this.icon.passwordcheckre = 1;
      } else if (this.remember_password === this.member_password) {
        this.icon.passwordre = 1;
        this.icon.passwordcheckre = 2;
      }
    },
    onPrevious2() {
      document.getElementById("registermbbox1").style.display = "block";
      document.getElementById("registermbbox2").style.display = "none";
      document.getElementById("registermbbox3").style.display = "none";
    },
    onPrevious3() {
      document.getElementById("registermbbox1").style.display = "none";
      document.getElementById("registermbbox2").style.display = "block";
      document.getElementById("registermbbox3").style.display = "none";
    }
  }
};
</script>

<style scoped>
.regisform {
  padding-top: 10%;
  padding-bottom: 30%;
}

.fromregis {
  background: #101010;
  width: 100%;
  padding: 8% 2%;
  border-bottom-right-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

h3 {
  color: #ffffff;
  font-size: 1.5rem;
}

label {
  color: #ffffff;
  margin-left: 10px;
  font-size: 1.2rem;
}

.form-input {
  position: relative;
}

.form-input__icon {
  position: absolute;
  left: 0;
  width: 45px;
  height: 100%;
  background-color: var(--warning-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 1;
}

.form-input__icon img {
  width: 20px;
}


.form-input__input {
  padding-left: 60px;
  border-radius: 5px;
  border: 3px solid var(--warning-color);
  background: #101010;
  color: #ffffff;
  font-size: 1.2rem;
}

.form-input__input:focus {
  box-shadow: none;
  border-color: var(--quaternary-color);
  outline: 0;
}
</style>
