<template>
  <div>
    <div class="d-flex justify-content-center my-2">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="d-flex justify-content-center">
      <h5>
        รายละเอียดส่วนบุคคล
      </h5>
    </div>
    <b-row>
      <b-col cols="12" lg="8" class="m-auto">
        <input-show
          icon="fa-phone"
          label="เบอร์โทรศัพท์"
          :value="$store.state.user.member_username"
        ></input-show>
        <input-show
          icon="fa-user-circle"
          label="ชื่อสกุล"
          :value="
            $store.state.user.member_firstname +
              ' ' +
              $store.state.user.member_lastname
          "
        ></input-show>
        <input-show
          icon="fa-university"
          label="ชื่อธนาคาร"
          :value="$store.state.user.member_bank"
        ></input-show>
        <input-show
          icon="fa-file-alt"
          label="เลขที่บัญชี"
          :value="$store.state.user.member_bank_account_number"
        ></input-show>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
i {
  color: var(--tertiary-color);
  font-size: 5rem;
}

h5 {
  font-size: 3rem;
  color: #000;
}
@media (max-width: 768px) {
  i {
  color: var(--tertiary-color);
  font-size: 4rem;
}

h5 {
  font-size: 2rem;
  color: #000;
}
}
</style>
