<template>
  <button
    type="button"
    :class="['default-button-disable', { 'default-button': fluid }]"
  >
    {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    fluid: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
}
</script>

<style>
.default-button-disable {
  background-image: linear-gradient(180deg, #645f60 0%, #2b2829 99%);
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 20px;
  outline: 0;
  border: 0;
  line-height: 1.2;
  user-select: none;
}
</style>