<template>
  <button
    type="button"
    :class="['default-button', { 'default-button--fluid': fluid }]"
  >
    {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    fluid: {
      type: Boolean,
      required: false,
      default: false
    }
  }
};
</script>

<style>
.default-button {
  background-image: linear-gradient(180deg, #cf2029 0%, #7b0320 99%);
  border-radius: 20px;
  color: #ffffff;
  padding: 5px 20px;
  outline: 0;
  border: 0;
  line-height: 1.2;
  user-select: none;
}

.default-button:hover {
  color: #ffff00;
}

.default-button--fluid {
  width: 100%;
}
</style>
