<template>
<button type="button" :class="['button', { 'button--fluid': fluid }]">
    {{ title }}
</button>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        },
        fluid: {
            type: Boolean,
            required: false,
            default: false
        }
    }
};
</script>

<style scoped>
.button {
    border: 2px solid rgb(148 178 239);
    padding: 5px 45px;
    background: linear-gradient(264deg, rgb(36 82 174 / 2%) 20%, rgb(0 57 126 / 2%) 70%);
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
}

.button:hover {
    background: #191d31;
    color: #ffffff;
    border: 2px solid transparent;
}
</style>
