<template>
<b-form-group>
    <label :class="[{ 'is-white': labelWhite }]">{{ label }}</label>
    <div class="form-input">
        <i :class="'fas form-input__icon ' + icon"></i>
        <b-form-input class="form-input__input" oninput="return event.target.value = event.target.value.replace(' ', '')" :placeholder="placeholder" type="password" @input.native="$emit('input', $event.target.value)"></b-form-input>
    </div>
</b-form-group>
</template>

<script>
export default {
    props: {
        icon: {
            type: String,
            default: '',
        },
        value: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        placeholder: {
            type: String,
            default: '',
        },
        labelWhite: {
            type: Boolean,
            default: false,
        },
    },
}
</script>

<style scoped>
label {
    color: var(--tertiary-color);
    margin-left: 10px;
    font-size: 1.25rem;
}

label.is-white {
    color: white;
}

.form-input {
    position: relative;
}

.form-input__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-input__input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #cf2029;
    box-shadow: inset 0 0 0.2rem rgb(0 0 0 / 20%);
    color: #f9f9f9;
    height: 100%;
    background-color: #cf2029;
}

.form-input__input:focus {
    border-color: var(--tertiary-color);
    box-shadow: none;
    outline: 0;
}

@media screen and (max-width: 767px) {
    label {
        display: block;
    }
}

i {
    color: #000000;
}
</style>
