<template>
  <button type="button" :class="['button', { 'button--fluid': fluid }]">
    {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    fluid: {
      type: Boolean,
      required: false,
      default: false
    }
  }
};
</script>

<style scoped>
.button {
  border: 2px solid var(--tertiary-color);
  padding: 5px 20px;
  background: transparent;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
}

.button:hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #ffffff;
}
</style>
