<template>
  <a class="button" :href="href">
    {{ title }}
  </a>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    href: {
      type: String,
      required: true,
      default: '',
    }
  }
};
</script>

<style scoped>
.button {
  color: #ebc642;
  outline: 0;
  line-height: 1.2;
  user-select: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.button:hover {
  color: #ffc800;
}
</style>
