<template>
  <div class="navbar">
    <b-container>
      <div>
        <nuxt-link to="#">
          <img class="logo" src="/images/logo.png" />
        </nuxt-link>
      </div>
      <div>
        <div class="form-login-regis">
          <div class="mr-2 mt-1">
            <nuxt-link to="/member/profile"
              ><button class="no-border">โปรไฟล์</button></nuxt-link
            >
          </div>
          <div class="mr-2 mt-1">
             <button class="have-border" @click="logout">ออกจากระบบ</button>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  methods: {
    logout(){
        this.$swal({
            title: "คุณต้องการออกจากระบบหรือไม่",
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "ไม่ ยกเลิก",
            cancelButtonColor: "#a51a1b",
            confirmButtonText: "ใช่ ฉันต้องการ",
        }).then((result) => {
            if (result.value) {
                this.$nuxt.$auth.logout();
                this.$router.replace("/");
            } else {}
        });
    },
  },
};
</script>

<style scoped>
.navbar {
  height: 90px;
  background: linear-gradient(90deg, #202036 0%, #11121c 100%);
}

.navbar .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  height: 45px;
}

.navbar a.link {
  text-decoration: none;
  color: #ffffff;
  font-family: "thai_sans_literegular', sans-serif";
  padding-right: 10px;
}

.navbar a.link:hover {
  text-decoration: none;
  color: #bcb5a9;
}

.navbar a.link.active {
  color: white;
}

.form-login-regis {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.form-login-regis .no-border {
  color: #ffffff;
  border: 2px solid #cf2029;
  padding: 5px 30px;
  background: linear-gradient(to bottom, #cf2029, #cf2029);
  border-radius: 25px;
}

.form-login-regis .no-border:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #ff000c, #ff000c);
}

.form-login-regis .have-border {
  color: #ffffff;
  border: 2px solid #cf2029;
  padding: 5px 30px;
  background: #000000;
  border-radius: 25px;
}

.form-login-regis .have-border:hover {
  color: #ffffff;
  border: 2px solid #cf2029;
  background: transparent;
}
</style>
