<template>
  <div>
    <div class="navbar">
      <nuxt-link to="#">
        <img class="logo" src="/images/logo.png" />
      </nuxt-link>
      <b-button v-b-toggle.sidebar-border class="openbtn">☰</b-button>
      <b-sidebar id="sidebar-border" sidebar-class="border-right border-dark">
        <div class="px-3 py-2">
          <b-img class="vert-move" src="/images/logo.png" fluid></b-img>
          <a href="/" class="linkbar d-flex justify-content-center mt-4"
            ><div class="text-white">
              <img class="img_icon" src="/images/icon/home.png" /> หน้าแรก
            </div></a
          >
          <a href="slots" class="linkbar d-flex justify-content-center mt-4"
            ><div class="text-white">
              <img class="img_icon" src="/images/icon/slot.png" /> เกมสล็อต
            </div></a
          >
          <a href="promotion" class="linkbar d-flex justify-content-center mt-4"
            ><div class="text-white">
              <img class="img_icon" src="/images/icon/gift-box.png" /> โปรโมชั่น
            </div></a
          >
          <a href="affiliate" class="linkbar d-flex justify-content-center mt-4"
            ><div class="text-white">
              <img class="img_icon" src="/images/icon/handshake.png" />
              สร้างรายได้
            </div></a
          >
          <a href="contact" class="linkbar d-flex justify-content-center mt-4"
            ><div class="text-white">
              <img class="img_icon" src="/images/icon/global.png" /> ติดต่อ
            </div></a
          >
        </div>
      </b-sidebar>
    </div>
    <div class="navbarlogin">
      <b-container>
        <div>
          <div class="form-login-regis">
            <div class="mr-2 mt-1">
              <nuxt-link to="/member/login"
                ><button class="no-border">เข้าสู่ระบบ</button></nuxt-link
              >
            </div>
            <div class="mr-2 mt-1">
              <nuxt-link to="/member/register"
                ><button class="have-border">สมัครสมาชิก</button></nuxt-link
              >
            </div>
          </div>
        </div>
      </b-container>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.navbar {
  height: 60px;
  background: linear-gradient(90deg, #202036 0%, #11121c 100%);
}

.navbarlogin {
  height: 60px;
  padding-top: 5px;
  background: linear-gradient(90deg, #11121c 0%, #11121c 100%);
}
.navbar .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a.link {
  text-decoration: none;
  color: #ffffff;
  font-family: "thai_sans_literegular', sans-serif";
  padding-right: 10px;
}

.navbar a.link:hover {
  text-decoration: none;
  color: #bcb5a9;
}

.navbar a.link.active {
  color: white;
}

.form-login-regis {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.form-login-regis .no-border {
  color: #ffffff;
  border: 2px solid #cf2029;
  padding: 5px 30px;
  background: linear-gradient(to bottom, #cf2029, #cf2029);
  border-radius: 25px;
}

.form-login-regis .no-border:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #ff000c, #ff000c);
}

.form-login-regis .have-border {
  color: #ffffff;
  border: 2px solid #cf2029;
  padding: 5px 30px;
  background: #000000;
  border-radius: 25px;
}

.form-login-regis .have-border:hover {
  color: #ffffff;
  border: 2px solid #cf2029;
  background: transparent;
}

.navbar .logo {
  height: 40px;
}

.btn-secondary:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: transparent;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0px 5px;
  border: none;
}

.openbtn:hover {
  background-color: transparent;
}

.linkbar {
  padding: 0.5rem;
  margin: 0.25rem;
  background: #202036;
  font-size: 22px;
  border-radius: 2rem;
}

.linkbar:hover {
  background: #cf2029;
  cursor: pointer;
  text-decoration: none;
}

.img_icon {
  width: 25px;
  height: 25px;
  margin-bottom: 8px;
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
</style>
