<template>
  <nav>
    <b-container>
      <ul class="navigation__container justify-content-around">
        <nuxt-link
          to="/"
          :class="['navigation__menu__items', { active: isMenuActive('/') }]"
        >
          <li><img src="/images/icon/home.png" />หน้าแรก</li>
        </nuxt-link>
        <nuxt-link
          to="/slots"
          :class="[
            'navigation__menu__items',
            { active: isMenuActive('/slots') }
          ]"
        >
          <li><img src="/images/icon/slot.png" />เกมสล็อต</li>
        </nuxt-link>
        <nuxt-link
          to="/promotion"
          :class="[
            'navigation__menu__items',
            { active: isMenuActive('/promotion') }
          ]"
        >
          <li>
            <img src="/images/icon/gift-box.png" /><span class="tag-red rounded"
              >NEW</span
            >โปรโมชั่น
          </li>
        </nuxt-link>
        <nuxt-link
          to="/affiliate"
          :class="[
            'navigation__menu__items',
            { active: isMenuActive('/affiliate') }
          ]"
        >
          <li>
            <img src="/images/icon/handshake.png" /><span
              class="tag-red rounded"
              >NEW</span
            >สร้างรายได้
          </li>
        </nuxt-link>
        <nuxt-link
          to="/contact"
          :class="[
            'navigation__menu__items',
            { active: isMenuActive('/contact') }
          ]"
        >
          <li><img src="/images/icon/global.png" />ติดต่อ</li>
        </nuxt-link>
      </ul>
    </b-container>
  </nav>
</template>

<script>
export default {
  methods: {
    isMenuActive(path) {
      return this.$route.path === path;
    }
  }
};
</script>

<style scoped>
.navigation__menu__items.active {
  border-top: 2px solid #cf2029;
}

nav {
  background: #11121c;
}

img {
  padding-bottom: 8px;
  padding-right: 5px;
  width: 25px;
  height: 30px;
}

.nav-link .tag-red {
  top: -5px;
  font-size: 0.6em;
}

.tag-red {
  color: #fff;
  background: #cf2029;
  font-size: 0.7em;
  position: absolute;
  padding: 0 4px;
  -webkit-animation: heartBeat 1s infinite;
  animation: heartBeat 1s infinite;
  top: 80px;
  font-size: 14px;
}

.navigation__container {
  display: flex;
  align-items: center;
}

.justify-content-around {
  justify-content: space-around !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__menu__items:first-child {
  margin-left: 0;
}

.navigation__menu__items {
  padding: 10px 30px;
  font-size: 22px;
  color: #fff;
}

.navigation__menu__items a {
  display: inline-block;
  color: #fff;
}

.navigation__menu__items:hover {
  border-top: 2px solid #cf2029;
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.navigation__menu__items:hover .navigation__menu__sub-items {
  display: block;
}

.navigation__menu__sub-items {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  display: none;
  width: 100vw;
  height: auto;
  background-image: linear-gradient(90deg, rgb(0 0 0 / 60%), #000000);
}

.justify-content-center {
  justify-content: center !important;
}

.game-menu {
  cursor: pointer;
}

.game-menu__image {
  width: 100%;
}

.game-menu a {
  width: 100%;
  display: block;
  padding: 5px !important;
  text-align: center;
  color: #fff !important;
}

@media screen and (max-width: 1100px) {
  .navigation__menu__items:hover .navigation__menu__sub-items,
  .navigation__menu__sub-items {
    display: none;
  }
}

.navigation__menu__items:hover .navigation__menu__sub-items {
  display: block;
  top: 9.6rem;
}
</style>
