<template>
  <b-container class="text-center">
    <img
      v-if="bankaccount.deposit_bank_code === 'SCB'"
      src="/images/logo_scb.jpg"
      width="80%"
    />
    <img
      v-if="bankaccount.deposit_bank_code === 'KBANK'"
      src="/images/logo_kbank.png"
      width="100%"
    />
    <img
      v-if="bankaccount.deposit_bank_code === 'BAY'"
      src="/images/logo_bay.png"
      width="80%"
    />
  </b-container>
</template>

<script>
import * as deposit from "@/utils/API/getdata";
export default {
  data() {
    return {
      bankaccount: [],
    };
  },
  async mounted() {
    const response = await deposit.deposit();
    this.bankaccount = response.data.account[0];
    try {
      this.user = this.$auth.user;
    } catch (err) {}
  },
};
</script>

<style scoped> 
</style>