<template>
  <b-form-group>
      <label>รหัสผ่าน</label>
      <div class="form_input">
          <img src="/images/passwordicon.png" alt="password" class="form_input_icon" />
          <b-form-group class="form_input_input" :oninput="oninput" type="password" required="" placeholder="รหัสผ่าน" @input.native="$emit('input', $event.target.value)"></b-form-group>
      </div>
  </b-form-group>
</template>

<script>
export default {
    props:["oninput"],

}
</script>

<style scoped>
label {
    color: var(--quaternary-color);
    margin-left: 10px;
}

.form_input {
    position: relative;
}

.form_input_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    transform: translateY(-50%);
}

.form_input_input {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 50px;
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
    color: #222222;
    height: 100%;
    background-color: #fbfbfb;
}

.form_input_input:focus {
    border-color: var(--primary-color);
    box-shadow: none;
    outline: 0;
}

</style>