<template>
    <div class="col-12 px-0">
      <img src="/images/BG_about.png" width="100%" />
      <div class="container bg_footer text-white pb-1 pt-2">
        <p class="text-left">
          +++++ เว็บเดียวครบ ระบบที่ดีที่สุด ฝากถอน 30 วิ
        </p>
        <p>
          เราคือ ++++++ ศูนย์รวมเกมพนันออนไลน์ ที่รวบรวมเกมทั้งหมด
          ไว้บนแพลตฟอร์มเดียวกัน ฝากถอนอัตโนมัติด้วยเทคโนโลยีสุดล้ำ
          ได้รับรวดเร็วภายในระยะเวลาไม่กี่วินาที
        </p>
        <p>
          +++++ รองรับอุปกรณ์ทุกรูปแบบผ่าน HTML5 สะดวกสบายไม่ต้องดาวน์โหลด
          ไม่ว่าจะเป็นคอมพิวเตอร์
          แท็บเล็ตหรือมือถือด้วยระบบที่เสถียรให้ความลื่นไหลมากที่สุด
        </p>
      </div>
    </div>
</template>

<script>
export default {};
</script>

<style scoped>
.bg_footer {
  background: linear-gradient(90deg, #202036 0%, #202036 100%);
  font-size: 18px;
}
</style>
