<template>
  <div class="bg-slot-index">
    <b-container class="p-3">
      <b-row
        ><b-col cols="12"
          ><b-container>
            <div class="row btn-play text-white text-center">
              <div class="col-2 text-right m-auto p-0">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
              </div>
              <div class="col-7 text-left p-0">
                <h1>การฝาก</h1>
                <h2>ใช้เวลาในการฝากเพียง 2-4 นาที</h2>
              </div>
              <div class="col-1"></div></div
          ></b-container>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="pt-3 pb-3">
      <b-row>
        <b-col cols="3" class="pr-0 pl-2">
          <img src="/images/index/JoinLobby01.png" width="100%" />
        </b-col>
        <b-col cols="6" class="pl-3 pr-3"
          ><b-row>
            <b-col cols="6" class="pb-1 pl-1 pr-1">
              <img src="/images/index/JoinLobby02.png" width="100%"
            /></b-col>
            <b-col cols="6" class="pb-1 pl-1 pr-1"
              >
                <img src="/images/index/JoinLobby03.png" width="100%" /></b-col
            >
            <b-col cols="12" class="pb-1 pl-1 pr-1">
                <img src="/images/index/JoinLobby06.png" width="100%" /></b-col
            ></b-row
          ></b-col
        >
        <b-col cols="3"
          ><b-row>
            <b-col cols="12" class="pb-1 pl-1 pr-1"
              >
                <img src="/images/index/JoinLobby04.png" width="100%" /></b-col
            >
            <b-col cols="12" class="pb-1 pl-1 pr-1"
              >
                <img src="/images/index/JoinLobby05.png" width="100%" /></b-col
            >
            <b-col cols="12" class="pb-1 pl-1 pr-1"
              >
                <img src="/images/index/JoinLobby07.png" width="100%" /></b-col
            ></b-row
          ></b-col
        >
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.bg-slot-index {
  background: linear-gradient(90deg, #202036 0%, #202036 100%);
}
.btn-play {
  background: #202036;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.btn-play h1,
.btn-login h1 {
  font-size: 20px;
}
.btn-play h2,
.btn-login h2 {
  font-size: 18px;
}
.btn-login {
  background: #cf2029;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
</style>
