<template>
  <div class="d-block d-lg-none">
    <banner-mobile></banner-mobile>
    <links-btn-index-mobile></links-btn-index-mobile>
    <slot-index-mobile></slot-index-mobile>
    <promotion-index-mobile></promotion-index-mobile>
    <news-index-mobile></news-index-mobile>
    <about-footer-mobile></about-footer-mobile>
  </div>
</template>

<script>
import BannerMobile from "~/components/banner/mobile/BannerMobile.vue";
import LinksBtnIndexMobile from "~/components/page/home/mobile/LinksBtnIndexMobile.vue";
import SlotIndexMobile from "~/components/page/home/mobile/SlotIndexMobile.vue";
import PromotionIndexMobile from "~/components/page/home/mobile/PromotionIndexMobile.vue";
import NewsIndexMobile from "~/components/page/home/mobile/NewsIndexMobile.vue";
import AboutFooterMobile from "~/components/page/home/mobile/AboutFooterMobile.vue";
export default {
  components: {
    BannerMobile,
    LinksBtnIndexMobile,
    SlotIndexMobile,
    PromotionIndexMobile,
    NewsIndexMobile,
    AboutFooterMobile
  }
};
</script>

<style scoped></style>
