<template>
  <div class="bg-promoimg-index">
    <b-container class="pt-4">
      <h1 class="text-white text-left pb-2" style="font-size: 30px;">
        <i class="fas fa-gift" width="32px"></i> โปรโมชั่น
      </h1>
      <hooper :settings="hooperSettings" :infiniteScroll="true">
        <slide v-for="Promo in PromoShow" :key="Promo.bonus_id" class="mb-4">
          <div class="px-2">
            <img :src="Promo.bonus_cover_image" width="100%" />
          </div>
        </slide>
        <hooper-pagination slot="hooper-addons"></hooper-pagination>
      </hooper>
      <div class="text-white text-center font_size">
        <p>โปรโมชั่นและสิทธิพิเศษมากมายกำลังรอคุณอยู่</p>
      </div>
    </b-container>
  </div>
</template>

<script>
import {
  Hooper,
  Slide,
  Pagination as HooperPagination,
  itemsToSlide,
  infiniteScroll
} from "hooper";
import * as promotion from "@/utils/API/getdata";

export default {
  name: "App",
  components: {
    Hooper,
    Slide,
    HooperPagination,
    itemsToSlide,
    infiniteScroll
  },

  data() {
    return {
      PromoShow: [],
      hooperSettings: {
        itemsToShow: 1,
        autoPlay: true
      }
    };
  },

  async mounted() {
    const listpromo = await promotion.BonusListing();
    console.log(listpromo);
    this.PromoShow = listpromo;
  }
};
</script>

<style scoped>
.font_size {
  font-size: 20px;
  margin-top: -20px;
}
.bg-promoimg-index {
  background: linear-gradient(180deg, #202036, #cf2029);
  padding-bottom: 3rem;
}
</style>
