<template>
  <div class="d-lg-block d-none">
    <index-promotion-pc></index-promotion-pc>
    <about-footer-pc></about-footer-pc>
  </div>
</template>

<script>
import IndexPromotionPc from "./IndexPromotionPc.vue";
import AboutFooterPc from "~/components/page/home/PC/AboutFooterPc.vue";
export default {
  components: { IndexPromotionPc, AboutFooterPc }
};
</script>

<style></style>
