<template>
  <div class="bg-aff">
    <b-container>
      <div class="bg-border p-3">
        <game-content title="โปรโมชั่นทั้งหมด"></game-content>
        <b-row>
          <b-col
            cols="6 mt-2 mb-4"
            class="promo_img"
            v-for="listpromoiton in listpromoiton"
            :key="listpromoiton.bonus_id"
          >
            <div class="promo_hover">
              <img
                class="image"
                :src="listpromoiton.bonus_cover_image"
                width="100%"
              />
              <div class="game-desc">
                <div class="text-center">
                  <button
                    type="button"
                    class="buttondetail"
                    data-toggle="modal"
                    :data-target="'#x-' + listpromoiton.bonus_id"
                    aria-current="page"
                  >
                    รายละเอียด
                  </button>
                  <!-- <router-link class="buttondetail" :to="{ path: '/indenture', query: { bonus_detail: listpromoiton.bonus_detail, bonus_cover_image: listpromoiton.bonus_cover_image, bonus_name:listpromoiton.bonus_name }}">รายละเอียด</router-link> -->
                  <button
                    type="button"
                    class="buttonbonus"
                    @click="getbonus(listpromoiton.bonus_id)"
                  >
                    รับโบนัส
                  </button>
                </div>
              </div>
              <div
                :id="'x-' + listpromoiton.bonus_id"
                class="modal fade txt-center"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="background: #202036">
                    <div class="modal-header">
                      <h3
                        id="exampleModalLabel"
                        class="modal-title"
                        style="color: #fff"
                      >
                        {{ listpromoiton.bonus_name }}
                      </h3>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true" style="color: #fff"
                          >&times;</span
                        >
                      </button>
                    </div>
                    <div class="modal-body" style="color: #fff">
                      <h5 v-html="listpromoiton.bonus_detail"></h5>
                      <a href="/condition" class="txt-detail"
                        >**เงื่อนไขและกติกาพื้นฐานจะถูกนำมาใช้กับโปรโมชั่นนี้**</a
                      >
                    </div>
                    <div class="modal-footer">
                      <default-button
                        type="button"
                        data-dismiss="modal"
                        title="Close"
                      >
                      </default-button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-white text-center font_pro_size">
                {{ listpromoiton.bonus_name }}
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
import * as promopc from "@/utils/API/getdata";
import DefaultButton from "~/components/button/DefaultButton.vue";
import GameContent from "~/components/gamebox/GameContent.vue";
export default {
  components: {
    DefaultButton,
    GameContent
  },
  data() {
    return {
      listpromoiton: ""
    };
  },
  async mounted() {
    const promo = await promopc.BonusListing();
    this.listpromoiton = promo;
  },
  methods: {
    getbonus(bonusidinput) {
      this.bonusid = bonusidinput;
      this.$swal({
        text: "คุณยอมรับ เงื่อนไขการรับโบนัส ใช่หรือไม่ ?",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "ใช่ ฉันยอมรับ",
        cancelButtonText: "ไม่"
      }).then(result => {
        if (result.value) {
          if (this.$auth.user) {
            promopc.bonusreceive(this.bonusid).then(response => {
              if (response.data.status === true) {
                if (response.data.transaction_status === true) {
                  this.$swal({
                    icon: "success",
                    title: response.data.transaction_error_message,
                    text: "โบนัสที่ได้รับ " + response.data.bonus_amount
                  });
                } else if (response.data.transaction_status === false) {
                  this.$swal({
                    icon: "warning",
                    text: response.data.transaction_error_message
                  });
                }
              } else if (response.data.status === false) {
                this.$swal({
                  icon: "error",
                  title: "เกิดข้อผิดพลาด"
                });
              }
            });
          } else {
            window.location.replace("/member/login");
          }
        }
      });
    }
  }
};
</script>

<style scoped>
.bg-aff {
  background: #202036;
}

.txt-center {
  text-align: -webkit-center;
}

.font_pro_size {
  font-size: 20px;
}

.buttondetail {
  border: 2px solid #c62828;
  background: linear-gradient(264deg, #d32f2f 20%, #5c0404 70%);
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  width: 90px;
}

.buttondetail:hover {
  background: #d32f2f;
}

.buttonbonus {
  border: 2px solid #d32f2f;
  background: black;
  border-radius: 8px;
  color: #ffffff;
  width: 90px;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

.buttonbonus:hover {
  background: transparent;
}

.txt-detail {
  font-weight: bold;
  color: #ffff00;
  text-decoration: none;
  font-size: 22px;
}

.txt-detail:hover {
  color: white;
}
</style>
