<template>
  <div class="d-lg-block d-none">
      <index-contact-pc></index-contact-pc>
  </div>
</template>

<script>
import IndexContactPc from './IndexContactPc.vue'
export default {
  components: { IndexContactPc },

}
</script>

<style>

</style>