<template>
<div class="contact p-5">
    <b-container>
        <h2>ติดต่อเรา</h2>
        <h3>ทีมงานมืออาชีพ พร้อมดูแลลูกค้า ตลอด 24 ชั่วโมง</h3>
        <h3>แจ้งปัญหา รับโบนัส ต้องการความช่วยเหลือ ติดต่อได้เลย </h3>
        <b-row>
            <b-col cols="6">
                <b-img src="/images/contact/contact.png" />
            </b-col>
            <b-col cols="6" class="txt-detial">
                <b-row>
                    <b-col cols="12"><h2>ติดต่อแจ้งปัญหา</h2></b-col>
                    <b-col cols="12"><a :href="listcontact.contact_b_line_url"><div class="qrcode"><b-img class="w-50" :src="listcontact.contact_b_qrcode_url"></b-img></div></a></b-col>
                    <b-col cols="12"><a :href="listcontact.contact_b_line_url"><div class="addline"><b-img class="w-30" src="/images/contact/contact-line.png"></b-img></div></a><br></b-col>
                    <b-col cols="12"><a :href="listcontact.contact_b_line_url"><div><h4>{{listcontact.contact_b_line_id}}</h4></div></a></b-col>
                    <b-col cols="12"><p>เปิดบริการ 24 ชั่วโมง</p></b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
import * as contact from '@/utils/API/getdata'
export default {
    data() {
      return {
          listcontact: '',
      }
  },
  async mounted() {
      const res = await contact.getContact();
      this.listcontact = res;
  },

}
</script>

<style scoped>
.contact {
    background: #202036;
}

.contact h2 {
    text-align: center;
    color: #f1d51e;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact h3 {
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 1rem;
}

.contact img {
    width: 70%;
    float: right;
    padding: 1rem;
}
.txt-detial{
    padding: 1rem;
}
.txt-detial h2{
    float: left;
}
.txt-detial img{
    float: left;
    padding: 10px;
}
.qrcode{
    float: left;
    width: 80%;
}
.addline{
    width: 45%;
    margin-left: 4%;
}
.txt-detial p{
    color: white;
    margin-left: 6%;
}
.txt-detial h4{
    color: white;
    font-size: 20px;
    margin-left: 8%;
}
</style>
