<template>
  <div class="d-lg-none d-block">
      <index-contact-mobile></index-contact-mobile>
  </div>
</template>

<script>
import IndexContactMobile from './IndexContactMobile.vue'
export default {
  components: { IndexContactMobile },

}
</script>

<style>

</style>