<template>
<div class="contact pt-4 pb-3">
    <b-container>
        <h2>ติดต่อเรา</h2>
        <h3>ทีมงานมืออาชีพ พร้อมดูแลลูกค้า ตลอด 24 ชั่วโมง</h3>
        <h3>แจ้งปัญหา รับโบนัส ต้องการความช่วยเหลือ ติดต่อได้เลย </h3>
        <b-row>
            <b-col cols="12">
                <b-img class="img-show" src="/images/contact/contact.png" />
            </b-col>
            <b-col cols="12" class="txt-detial">
                    <h2>ติดต่อแจ้งปัญหา</h2>
                    <a :href="listcontact.contact_b_line_url"><div class="qrcode"><b-img class="w-80" :src="listcontact.contact_b_qrcode_url"></b-img></div></a>
                    <a :href="listcontact.contact_b_line_url"><div class="addline"><b-img class="w-50" src="/images/contact/contact-line.png"></b-img></div></a>
                    <a :href="listcontact.contact_b_line_url"><div><h4>{{listcontact.contact_b_line_id}}</h4></div></a>
                    <p>เปิดบริการ 24 ชั่วโมง</p>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
import * as contact from '@/utils/API/getdata'
export default {
    data() {
      return {
          listcontact: '',
      }
  },
  async mounted() {
      const res = await contact.getContact();
      this.listcontact = res;
  },

}
</script>

<style scoped>
.contact {
    background: #202036;
}

.contact h2 {
    text-align: center;
    color: #f1d51e;
    margin-bottom: 1rem;
}

.contact h3 {    
    text-align: center;
    color: white;
    font-size: 20px;
    text-indent: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.img-show{
    width: 100%;
    padding: 2rem;
}
.txt-detial{
    padding: 1rem;
    text-align: center;
}
.txt-detial img{
    padding: 10px;
}
.txt-detial p{
    color: white;
}
.txt-detial h4{
    color: white;
    font-size: 20px;
}
</style>
