<template>
  <div>
    <div class="d-flex justify-content-center">
      <h5>ฝากเงิน AUTO</h5>
    </div>
    <div class="d-flex justify-content-center my-2">
      <p
        v-if="bankaccount.deposit_bank_code === 'BAY'"
        class="p-0 m-0 mt-2"
        style="font-size: 20px"
      >
        ห้ามโอนเงินช่วงเวลา 23.50-02.30
      </p>
    </div>
    <b-row>
      <deposit-bank></deposit-bank>
    </b-row>
    <b-row>
      <b-col cols="12"
        ><input-show
          icon="fas fa-file-alt"
          label="ชื่อบัญชี"
          :value="bankaccount.deposit_bank_account_name"
        ></input-show>
      </b-col>
      <b-col cols="12">
        <input-show
          icon="fas fa-file-alt"
          label="เลขที่บัญชี"
          :value="bankaccount.deposit_bank_account_number"
        >
        </input-show>
      </b-col>
      <b-col cols="12">
        <div class="sty-submit">
          <button
            class="submit mb-3"
            @click="copySomething(bankaccount.deposit_bank_account_number)"
          >
            คัดลอกเลขที่บัญชี
          </button>
        </div>
      </b-col>
      <b-col cols="12"> <div class="divider-red"></div></b-col>
    </b-row>
    <b-row class="text-center mb-3 mt-3">
      <b-col cols="12">
        <p class="p-0 m-0" style="font-size: 16px">
          โปรดโอนจากธนาคาร :
          <span class="text-danger">{{ $store.state.user.member_bank }}</span>
        </p>
      </b-col>
      <b-col cols="12">
        <p class="p-0 m-0" style="font-size: 16px">
          ชื่อบัญชี :
          <span class="text-danger">{{
            $store.state.user.member_firstname +
            " " +
            $store.state.user.member_lastname
          }}</span>
        </p>
      </b-col>
      <b-col cols="12">
        <p class="p-0 m-0" style="font-size: 16px">
          เลขที่บัญชี :
          <span class="text-danger">{{
            $store.state.user.member_bank_account_number
          }}</span>
        </p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import * as deposit from "@/utils/API/getdata";
import InputShow from "~/components/input/InputShow.vue";
import DepositBank from '../DepositBank.vue';
export default {
  components: { InputShow, DepositBank },
  data() {
    return {
      bankaccount: [],
    };
  },
  async mounted() {
    const response = await deposit.deposit();
    this.bankaccount = response.data.account[0];
    try {
      this.user = this.$auth.user;
    } catch (err) {}
  },
  methods: {
    async copySomething(text) {
      try {
        await this.$copyText(text);
        this.$swal({
          icon: "success",
          title: "คัดลอกสำเร็จ",
        });
      } catch (e) {
        console.error(e);
      }
    },
  },
};
</script>

<style scoped>
h5 {
  font-size: 3rem;
  color: #000;
}
.submit {
  border-radius: 20px;
  border: 4px solid var(--tertiary-color);
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  color: #f6f2f2;
  height: 100%;
  background-color: var(--tertiary-color);
}
.sty-submit {
  text-align: center;
}
.divider-red {
  border-bottom: 2px solid #a51a1b;
  width: 100%;
}
</style>