<template>
  <div class="d-lg-none d-block">
      <index-promotion-mobile></index-promotion-mobile>
  </div>
</template>

<script>
import IndexPromotionMobile from './IndexPromotionMobile.vue'
export default {
  components: { IndexPromotionMobile },

}
</script>

<style>

</style>