<template>
  <div class="d-lg-none d-block">
      <index-condition-mobile></index-condition-mobile>
  </div>
</template>

<script>
import IndexConditionMobile from './IndexConditionMobile.vue'
export default {
  components: { IndexConditionMobile },

}
</script>

<style>

</style>