<template>
  <div class="bg-condition">
      <b-container>
          <div class="bg-border mb-3">
              <div class="detail-condition p-3 mb-5">
                  <game-content title="ข้อตกลงในการใช้งาน"></game-content>
                  <hr/>
                  <p>- สมาชิกต้องกรอกข้อมูลจริงให้สมบูรณ์และสามารถติดต่อได้ เพื่อเปิดบัญชีกับทางบริษัท (บริษัทจำกัดคนละบัญชีเท่านั้น)</p>
                  <p>- ชื่อ-นามสกุล กับ ชื่อในข้อมูลธนาคารที่ใช้ในการฝาก/ถอน และจะต้องตรงกัน (บริษัทอนุมัติเฉพาะรายการที่ข้อมูลตรงกับข้อมูลสมาชิกเท่านั้น หากมีข้อผิดพลาดจากสมาชิกบริษัทจะไม่รับผิดชอบใดๆ)</p>
                  <p>- สมาชิกจะต้องใช้ข้อมูล ชื่อ หรือ สกุล , ที่อยุ่ , อีเมล์ , เบอร์โทรศัพท์, บัญชีธนาคาร , IP แอดเดรส เดียวเท่านั้น (บริษัทมีระบบตรวจสอบ การใช้ข้อมูล การเข้าใช้ ที่ซ้ำซ้อนกัน หากมีข้อผิดพลาดจากสมาชิกบริษัทจะไม่รับผิดชอบใดๆ)</p>
                  <p>- สมาชิกที่ต้องการเปลี่ยนแปลงข้อมูล จะต้องไม่ติดกิจกรรมใดๆ และเคยฝากเงินแล้วเท่านั้น สมาชิกต้องวางเดิมพัน จึงจะสามารถถอนเงินได้ (ไม่สามารถฝาก และถอนเงินทันทีโดยที่ไม่วางเดิมพัน)</p>
                  <p>- ในกรณีตรวจพบว่าสมาชิก ฝาก/ถอน ผิดปกติเพื่อก่อกวน เอาเปรียบบริษัท หรือคาดว่าเป็นมิจฉาชีพ ทีมงานขอสงวนสิทธิ์ในการระงับยูสเซอร์ตรวจสอบ และตัดสิน</p>
                  <p>- ในกรณีตรวจพบว่าท่านสมาชิกมีการละเมิดข้อกำหนดเงื่อนไข หรือมีการกระทำผิดกติกาในการเข้าร่วมโปรโมชั่นเพื่อให้ได้มาซึ่งเครดิต, โบนัสพิเศษ, เทิร์นโอเวอร์ ในทางทุจจริต ทางเราขอสงวนสิทธิ์ในการระงับใช้บัญชีนั้นๆ ทันที และเครดิตที่ได้มาไม่สามารถถอนได้</p>
                  <p>- บริษัทขอสงวนสิทธิ์ในการแก้ไขหรือ ยกเลิกโปรโมชั่นสำหรับท่านสมาชิก ได้โดยอัพเดทหน้าเว็บไซต์ และไม่ต้องแจ้งให้ทราบล่วงหน้า</p>
                  <p>- บริษัทขอสงวนสิทธิ์โดยใช้ดุลยพินิจแต่เพียงผู้เดียวในการทำให้เงินรางวัลเป็นโมฆะและริบยอดเงินใดก็ตามในบัญชีการเดิมพันของคุณ ในการสิ้นสุดข้อตกลงและ/หรือระงับการให้บริการ/ปิดการใช้งานบัญชี</p>
                  <p>- หากเราระบุได้ว่าคุณมีบัญชีกับเรามากกว่าหนึ่งบัญชี ทางบริษัทจะระงับการให้บริการ/ปิดการใช้งานบัญชี โดยไม่แจ้งให้ทราบล่วงหน้า</p>
                  <p>- หาก บริษัทและทางค่ายเกมออนไลน์ ตรวจพบว่าสมาชิกมีการใช้ช่องว่างในการวางเดิมพันในทางที่ผิด เช่น แทงสวนข้ามเว็บไซต์ ทางบริษัทและทางค่ายเกมจะขอยึดเครดิตลูกค้า และระงับการให้บริการ/ปิดการใช้งานบัญชีในทันที โดยไม่แจ้งให้ทราบล่วงหน้า</p>
                  <p>- หาก บริษัทตรวจพบความผิดปกติของบัญชีสมาชิก และทางบริษัทร้องขอให้ทางสมาชิกยืนยันตัวตน เช่น ถ่ายภาพคู่กับบัตรประชาชน หรือ ยืนยันเลข OTP ทางหมายเลขโทรศัพท์ หากสมาชิกไม่สามารถทำตามที่บริษัทร้องขอ ทางบริษัทจะขอยึดเครดิตลูกค้า และระงับการให้บริการ/ปิดการใช้งานบัญชีในทันที โดยไม่แจ้งให้ทราบล่วงหน้า</p>
                  <p>- หากบริษัท ไม่สามารถทำการตรวจสอบ หรือข้อมูลที่ท่านให้มานั้นไม่ถูกต้อง, ข้อมูลเท็จ หรือข้อมูลไม่สมบูรณ์ ทางเราขอสงวนสิทธิ์ที่จะทำการปฏิเสธโดยไม่มีการแจ้งให้ทราบล่วงหน้า หรือไม่รับผิดชอบใดๆในบัญชีของท่าน</p>
                  <p>- หากบริษัท สงสัยว่าท่าน หรือสมรู้ร่วมคิดกับบุคคลอื่นๆ เพื่อที่จะทำการอย่างใดอย่างหนึ่ง หรือพยายามฉ้อโกงทางเว็บ</p>
                  <p>- สมาชิกที่รับโปรโมชั่น จะไม่สามารถเดิมพันทบยอดได้เกิน 2 รายการ หากมีการตรวจพบ ทางบริษัทจะขอยึดเครดิตลูกค้าในทันที</p>
                  <p>- สมาชิกจะต้องทำตามเงื่อนไขโปรโมชั่นอย่างเคร่งครัด</p>
                  <p>- หากบริษัท ได้รับแจ้งว่าท่านได้มีการปลอม หรือแทรกแซง หรือดำเนินการขั้นตอนเพื่อทำการปกปิดหรือแทรกแซงในทางใด ๆ ในเรื่องของ IP ในอุปกรณ์ที่ใช้ในการเข้าถึงเว็บไซต์ เช่น Virtual Private Network "VPN"</p>
                  <p>- หากคุณได้มีการใช้โปรแกรม VPN หรือวิธีการใดๆ ที่พยายามจะปลอมแปลง หรือซ่อนตัวตนที่แท้จริงของท่าน หรือการตรวจสอบตามขอบเขตอำนาจด้านการพนัน</p>
                  <p>**บริษัทและค่ายเกม เป็นผู้ตัดสินเพียงผู้เดียวและคำตัดสินใจถือเป็นที่สิ้นสุด**</p>

              </div>
          </div>
      </b-container>
  </div>
</template>

<script>
import GameContent from '~/components/gamebox/GameContent.vue'
export default {
  components: { GameContent },

}
</script>

<style scoped>
.bg-condition{
    background: #202036;
}
.detail-condition h2{
    color: white;
    text-align: center;
}
.detail-condition p{
    color: white;
    text-indent: 2rem;
    margin-bottom: -5px;
    font-size: 22px;
}


</style>