<template>
  <div>
    <div class="d-none d-lg-block w-100">
      <navbar-pc v-if="!this.$auth.user"></navbar-pc>
      <navbar-login-pc v-if="this.$auth.user"></navbar-login-pc>
      <tab-pc></tab-pc>
    </div>
    <div class="d-block d-lg-none w-100">
      <navbar-mobile v-if="!this.$auth.user"></navbar-mobile>
      <navbar-login-mobile v-if="this.$auth.user"></navbar-login-mobile>
    </div>
  </div>
</template>

<script>
import NavbarMobile from "~/components/navbartop/NavbarMobile.vue";
import NavbarPc from "~/components/navbartop/NavbarPc.vue";
import TabPc from "~/components/navbartop/TabPc.vue";
import NavbarLoginMobile from './navbartop/NavbarLoginMobile.vue';
import NavbarLoginPc from './navbartop/NavbarLoginPc.vue';
export default {
  components: {
    NavbarMobile,
    NavbarPc,
    TabPc,
    NavbarLoginPc,
    NavbarLoginMobile
  }
};
</script>
