<template>
  <div class="d-lg-block d-none">
      <index-condition-pc></index-condition-pc>
  </div>
</template>

<script>
import IndexConditionPc from './IndexConditionPc.vue'
export default {
  components: { IndexConditionPc },

}
</script>

<style>

</style>