<template>
<div>
    <div class="d-flex justify-content-start">
        <h5>เปลี่ยนรหัสผ่าน</h5>
    </div>
    <hr />
    <b-row>
        <b-col cols="12" lg="8" class="m-auto">
            <input-main icon="fa-lock" v-model="old_password" label="รหัสผ่าน" placeholder="รหัสผ่าน" labelWhite></input-main>
            <input-main icon="fa-lock" v-model="new_password" label="รหัสผ่านใหม่" placeholder="รหัสผ่านใหม่" labelWhite></input-main>
            <input-main icon="fa-lock" v-model="new_r_password" label="ยืนยันรหัสผ่านใหม่" labelWhite placeholder="ยืนยันรหัสผ่านใหม่"></input-main>
            <span class="d-flex justify-content-center mb-2">
                <button @click="handleChangepassword()" class="btn-changpass">เปลี่ยนรหัสผ่าน</button>
            </span>
        </b-col>
    </b-row>
</div>
</template>

<script>
import * as Showprofile from "@/utils/API/getdata";
import RegisBottom from "~/components/button/RegisBottom.vue";
export default {
    components: {
        RegisBottom
    },
    data() {
        return {
            old_password: "",
            new_password: "",
            new_r_password: ""
        };
    },
    methods: {
        async handleChangepassword() {
            if (this.old_password === "") {
                this.$swal({
                    icon: "error",
                    title: "กรุณาใส่รหัสผ่านของคุณ"
                });
            } else if (this.new_password === "") {
                this.$swal({
                    icon: "error",
                    title: "กรุณาใส่รหัสผ่านที่ต้องการเปลี่ยน"
                });
            } else if (this.new_r_password === "") {
                this.$swal({
                    icon: "error",
                    title: "กรุณายืนยันรหัสผ่าน"
                });
            } else {
                await Showprofile.changepassword(
                    this.old_password,
                    this.new_password,
                    this.new_r_password
                ).then(response => {
                    if (response.data.status === true) {
                        this.$swal({
                            icon: "success",
                            title: "เปลี่ยนรหัสผ่านสำเร็จ"
                        }).then(() => {
                            window.location.replace("/member");
                        });
                    } else if (response.data.status === false) {
                        if (response.data.message === "old password don't match!") {
                            this.$swal({
                                icon: "error",
                                title: "รหัสผ่านเก่าผิด !",
                                text: "กรุณาใส่รหัสผ่านใหม่"
                            }).then(() => {
                                this.old_password = null;
                            });
                        } else if (response.data.message === "new password don't match!") {
                            this.$swal({
                                icon: "error",
                                title: "เกิดข้อผิดพลาด !",
                                text: "รหัสผ่านใหม่ไม่ตรงกัน"
                            }).then(() => {
                                this.old_password = null;
                                this.new_password = null;
                                this.new_r_password = null;
                            });
                        } else {
                            this.$swal({
                                icon: "error",
                                title: "เกิดข้อผิดพลาด !"
                            }).then(() => {
                                this.old_password = null;
                                this.new_password = null;
                                this.new_r_password = null;
                            });
                        }
                    }
                });
            }
        }
    }
};
</script>

<style scoped>
h5 {
    font-size: 1.75rem;
    color: #6e1506;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #6e1506;
}

.btn-changpass {
    border-radius: 20px;
    width: 145px;
    cursor: pointer;
    border: 2px solid #cf2029;
    box-shadow: inset 0 0 0.2rem rgb(0 0 0 / 20%);
    color: #f9f9f9;
    height: 100%;
    background-color: #cf2029;
    margin-bottom: 1rem;
}

.btn-changpass:hover {
    color: #ffffff;
    background: linear-gradient(to bottom, #ff000c, #ff000c);
    border: 2px solid #ff000c;
}
</style>
