<template>
<div class="d-lg-block d-none justify-content-center">
    <b-container class="bg-border">
        <div class="pb-2 mb-3">
            <slide-tab-pc></slide-tab-pc>
            <b-container>
                <b-row>
                    <b-col class="bg-data">
                        <index-withdraw-pc></index-withdraw-pc>
                    </b-col>
                    <b-col class="bg-history">
                        <div class="mt-2 mb-3 txt-history">
                            <h2>ประวัติถอนเงิน</h2>
                        </div>
                        <history-withdraw></history-withdraw>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </b-container>
</div>
</template>

<script>
import SlideTabPc from '~/components/slidetab/SlideTabPc.vue'
import HistoryWithdraw from '../../history/HistoryWithdraw.vue'
import IndexWithdrawPc from './IndexWithdrawPc.vue'
export default {
    components: {
        IndexWithdrawPc,
        SlideTabPc,
        HistoryWithdraw
    },

}
</script>

<style scoped>
.bg-data {
    box-shadow: 0px 0px 1px 1px #b0b3b0;
    background: #dbdad9;
}

.bg-history {
    background: #fcfbfb;
    box-shadow: 0px 0px 1px 1px #d0d0d0;
}

.txt-history {
    text-align: center;
}

.txt-history h2 {
    color: #6e1506;
    font-weight: bold;
}
</style>
