<template>
<div>
    <div class="d-flex justify-content-center my-2">
        <h5>แจ้งถอนเงิน</h5>
    </div>
    <b-row>
        <b-col cols="8" class="m-auto">
            <input-show icon="fas fa-university" label="ชื่อธนาคาร" :value="$store.state.user.member_bank"></input-show>
            <input-show icon="fas fa-file-alt" label="ชื่อบัญชี" :value="
            ($store.state.user.member_firstname
              ? $store.state.user.member_firstname
              : '') +
            ' ' +
            ($store.state.user.member_lastname
              ? $store.state.user.member_lastname
              : '')
          "></input-show>
            <input-show icon="fas fa-file-alt" label="เลขที่บัญชี" :value="$store.state.user.member_bank_account_number"></input-show>
            <input-show-money label="กระเป๋าสตางค์หลัก" :value="
            '฿' +
            $store.state.credit.toLocaleString(undefined, {
              minimumFractionDigits: 2,
            })
          "></input-show-money>
            <div v-show="!disabled" class="form-group">
                <label>จำนวนที่ต้องการถอน</label>
                <div class="mb-2">
                    <div class="input-group-prepend">
                        <i class="fas fa-money-bill-wave"></i>
                    </div>
                    <input v-model="withdraw_amount" type="number" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" pattern="/^-?\d+\.?\d*$/" maxlength="10" placeholder="ระบุจำนวนที่ต้องการถอน" @blur="foolfuntion" />
                </div>
            </div>
            <div class="text-center">
                <p v-show="disabled" class="m-0 p-0 text-danger">
                    {{ disabled_text }}
                </p>
                <p v-show="disabled" class="text-danger">
                    หากสงสัยโปรดติดต่อเรา
                    <nuxt-link to="/contact">คลิก</nuxt-link>
                </p>
                <button class="submit mb-4" @click="submitamount">แจ้งถอนเงิน</button>
            </div>
        </b-col>
    </b-row>
</div>
</template>

<script>
import * as submit from "@/utils/API/getdata";
import InputShow from "~/components/input/InputShow.vue";
import InputShowMoney from "~/components/input/InputShowMoney.vue";
import InputShowWithdraw from "~/components/input/InputShowWithdraw.vue";
export default {
    components: {
        InputShow,
        InputShowMoney,
        InputShowWithdraw
    },
    data() {
        return {
            withdraw_amount: 0,
            disabled: false,
            disabled_text: "",
        };
    },
    async beforeMount() {
        if (this.$auth.user) {
            await this.checkWithdraw();
        }
    },
    methods: {
        foolfuntion() {
            this.withdraw_amount = Math.floor(this.withdraw_amount);
        },
        async checkWithdraw() {
            const info = await submit.WithdrawInformation();
            if (info.data.withdraw_setting === false) {
                this.disabled = true;
                this.disabled_text = info.data.message;
            }
        },
        async checkWithdraw() {
            const info = await submit.WithdrawInformation();
            if (info.data.withdraw_setting === false) {
                this.disabled = true;
                this.disabled_text = info.data.message;
            }
        },
        async submitamount() {
            if (this.withdraw_amount === "") {
                this.$swal({
                    icon: "error",
                    text: "กรุณาใส่จำนวนเงิน !",
                }).then(() => {});
            } else if (this.withdraw_amount < 300) {
                this.$swal({
                    icon: "warning",
                    title: "ยอดถอนขั้นต่ำ 300 บาท",
                });
            } else if (this.withdraw_amount > 999999) {
                this.$swal({
                    icon: "warning",
                    title: "ยอดถอนผิดพลาด",
                });
            } else if (this.withdraw_amount >= "300") {
                await submit
                    .WithdrawInformation()
                    .then((response) => {
                        if (response.data.withdraw_status === true) {
                            submit.withdrawSubmit(this.withdraw_amount).then((response) => {
                                if (response.data.status === true) {
                                    if (response.data.transaction_status === true) {
                                        this.$swal({
                                            icon: "success",
                                            title: "ถอนสำเร็จ",
                                            text: response.data.message,
                                        }).then(() => {
                                            window.location.replace('/member/withdraw')
                                        });
                                    } else {
                                        this.$swal({
                                            icon: "error",
                                            title: "ผิดพลาด",
                                            text: response.data.transaction_error_message,
                                        }).then(() => {});
                                    }
                                }
                            });
                        } else if (response.data.withdraw_status === false) {
                            submit.withdrawSubmit(this.withdraw_amount).then((response) => {
                                if (response.data.status === false) {
                                    this.$swal({
                                        icon: "warning",
                                        text: response.data.message,
                                    }).then(() => {});
                                }
                            });
                        }
                    })
                    .catch((err) => {
                        if (err) {
                            this.$swal({
                                icon: "info",
                                title: "กรุณาใส่จำนวนเงิน !",
                            }).then(() => {});
                        }
                    });
            }
        },
    },
};
</script>

<style scoped>
h5 {
    font-size: 3rem;
    color: #000;
}

.submit {
    width: 100%;
    border-radius: 20px;
    border: 4px solid #cf2029;
    box-shadow: inset 0 0 0.2rem rgb(0 0 0 / 20%);
    color: #f9f9f9;
    height: 100%;
    background-color: #cf2029
}

.submit:hover {
    color: #ffffff;
    background: linear-gradient(to bottom, #ff000c, #ff000c);
    border: 4px solid #ff000c;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.2rem + 2px);
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 3.5;
    color: #495057;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 4px solid #a9001c;
    padding-left: 3.2rem;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control,
.custom-select {
    border-radius: 20px;
}

.input-group-prepend {
    margin-right: -1px;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

label {
    color: var(--tertiary-color);
    margin-left: 10px;
    font-size: 1.25rem;
}
</style>
