.i-kbank {
    background-image: url("/images/bank/KBANK.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-scb {
    background-image: url("/images/bank/SCB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-bbl {
    background-image: url("/images/bank/BBL.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-ktb {
    background-image: url("/images/bank/KTB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-tmb {
    background-image: url("/images/bank/TMB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-gsb {
    background-image: url("/images/bank/GSB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-tbank {
    background-image: url("/images/bank/TBANK.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-bay {
    background-image: url("/images/bank/BAY.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-lhb {
    background-image: url("/images/bank/LHB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-ghb {
    background-image: url("/images/bank/GHB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-ibank {
    background-image: url("/images/bank/IBANK.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-baac {
    background-image: url("/images/bank/BAAC.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-uob {
    background-image: url("/images/bank/UOB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-tisco {
    background-image: url("/images/bank/TISCO.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-cimb {
    background-image: url("/images/bank/CIMB.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-kk {
    background-image: url("/images/bank/KK.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-sc {
    background-image: url("/images/bank/SC.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  
  .i-bank {
    width: 1.25rem;
    height: 1.25rem;
  }

  .i-logo {
    background-image: url("/images/logo/playing-cards.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    position: relative;
    top: 4px;
  }
  .i-logo:hover {
    background-image: url("/images/logo/playing-cards1.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    top: 4px;
  }