@font-face {
  font-family: "thai_sans_literegular";
  src: url("thaisanslite_r1-webfont.eot");
  src: url("thaisanslite_r1-webfont.eot?#iefix") format("embedded-opentype"),
    url("thaisanslite_r1-webfont.woff") format("woff"),
    url("thaisanslite_r1-webfont.ttf") format("truetype"),
    url("thaisanslite_r1-webfont.svg#thai_sans_literegular") format("svg");
  font-style: normal;
}

body {
  background: var(--primary-color);
  font-family: "thai_sans_literegular", sans-serif;
  font-size: 1.5rem;
}

:root {
  --primary-color: #202036;
  --secondary-color: #11121c;
  --tertiary-color: #cf2029;
  --quaternary-color: #fff;
  --quinary-color: #000000;
  --warning-color: #f1d51e;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.b-sidebar {
  width: 100%;
}

/* slot */

.form-control,
.custom-select {
  border-radius: 20px;
  padding: 5px 20px;
}

.form-control:focus,
.custom-select:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group
  > .input-group-append:last-child
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group
  > .input-group-append:last-child
  > .input-group-text:not(:last-child) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.input-group-text {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: -25px;
}

.icon-white {
  color: #ffffff;
}

.tabs {
  width: 100%;
}

.tabs .nav-tabs {
  border-bottom: 0;
}

.tabs .nav-tabs .nav-link {
  border: 0;
  font-weight: 500;
  color: #ffffff;
  outline: 0;
}

.nav-tabs .nav-item {
  outline: 0;
}

.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border-bottom: 2px solid #cf2029;
}

.tabs .nav-tabs .nav-link {
  padding: 0.5rem 0;
  margin: 0 1rem;
  font-size: 19px;
}

/* slot close */

/* close game */

.content_center {
  color: #ffffff;
  margin: 0 auto;
  justify-content: flex-start;
  padding-left: 1vw;
  padding-right: 1vw;
}

.content_head {
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-align: center;
}

.content_head:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.02);
}

.content_center a {
  color: burlywood;
}

.content_center h1 {
  font-size: 40px;
}

.content_center h2 {
  font-size: 25px;
}

.content_center h3 {
  color: burlywood;
  font-size: 20px;
  padding-top: 1vw;
}

.content_center p {
  padding-top: 0.75vw;
  font-size: 1.25rem;
}

.btn-header {
  color: #fff;
  background: linear-gradient(0deg, #cf2029, #600000);
  border: 1px solid #cf2029;
  font-weight: 200;
  border-radius: 6px;
  padding: 3px 23px;
  box-shadow: 0px 2px 8px 2px #000000a6;
}

.btn-header:hover {
  background: linear-gradient(0deg, #600000, #cf2029);
}

a:hover {
  text-decoration: none;
}

/* slot table */

.slot_item .game {
  width: 100%;
  height: auto;
  min-height: 0;
  background-color: var(--quaternary-color);
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.slot_item .game:hover {
  filter: grayscale(100%);
}

.slot_item .game_title {
  position: inherit;
  bottom: 0;
  background: #11121c;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  padding: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slot_item .game:hover .game_title {
  display: block;
}

.slot_item .game_hover_title {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
}

.slot_item .game:hover .game_hover_title {
  top: 0;
}

/* register */

:not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
  width: 92%;
}

@media screen and (max-width: 768px) {
  :not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
    width: 82%;
  }
}

.bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*="col-"] {
  margin-left: 45px;
}

.bootstrap-select > .dropdown-toggle {
  background: transparent;
  padding: 6.1px;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: thin dotted #333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.btn-light {
  color: #ffffff;
  border: none;
}

.btn-light:focus,
.btn-light.focus {
  color: #ffffff;
}

.btn-light:hover {
  color: #ffffff;
}

.registerform {
  padding-top: 10%;
  padding-bottom: 10%;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  height: auto;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 3px solid var(--warning-color);
  background: transparent;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #ffffff;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: transparent;
  color: #fff;
}

.input-group-text {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: -25px;
}
