<template>
  <main class="games__content">
    <h1 class="games__title">
      {{ title }}
    </h1>
  </main>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.games__content {
  padding:0 0 10px;
}

.games__content h1 {
  font-size: 30px;
}

.games__title {
  padding: 0 0 20px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.games__items {
  padding: 0 0 20px;
}

@media screen and (max-width: 767px) {
  .games__content {
    padding: 0;
  }
}
</style>
