<template>
  <div>
    <div class="d-none d-lg-block">
      <register-ads-pc></register-ads-pc>
    </div>
    <div class="d-block d-lg-none">
      <register-ads-mobile></register-ads-mobile>
    </div>
  </div>
</template>

<script>
import RegisterAdsMobile from './mobile/RegisterAdsMobile.vue';
import RegisterAdsPc from './PC/RegisterAdsPc.vue';
export default {
  components: {RegisterAdsPc, RegisterAdsMobile }
};
</script>

<style></style>
