<template>
  <div>
    <div class="d-none d-lg-block">
      <register-pc></register-pc>
    </div>
    <div class="d-block d-lg-none">
      <register-mobile></register-mobile>
    </div>
  </div>
</template>

<script>
import RegisterMobile from "./mobile/RegisterMobile.vue";
import RegisterPc from "./PC/RegisterPc.vue";
export default {
  components: { RegisterPc, RegisterMobile }
};
</script>

<style></style>
