<template>
  <div class="my-2">
    <div class="d-flex justify-content-center my-2">
      <h3 class="text-dark divider">เกมที่เล่นล่าสุด</h3>
      <br />
    </div>
    <b-row>
      <b-col cols="12" class="m-auto"> </b-col>
    </b-row>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.divider {
  border-bottom: 2px solid #fff;
  width: 100%;
}
</style>
