<template>
<div class="my-2">
    <div class="d-flex justify-content-center my-2">
        <i class="fas fa-user-circle circ_size pr-2"></i>
        <h5 class="d-flex align-items-center">
            สวัสดีคุณ&nbsp;
            <b>{{
          $store.state.user.member_firstname +
            " " +
            $store.state.user.member_lastname
        }}</b>
        </h5>
    </div>
    <b-row>
        <b-col cols="12" lg="8" class="m-auto">
            <div class="backsy my-1">
                <h4 class="text-center">ยอดเครดิตของคุณ</h4>
                <div class="d-flex align-items-center justify-content-center">
                    <h3 class="pr-2">฿ {{ $store.state.credit }}</h3>
                    <i class="fas fa-sync text-white"></i>
                </div>
            </div>
            <div class="backsytwo my-1">
                <h5 class="text-center">
                    <b>{{ $store.state.user.member_bank }}</b> |
                    {{ $store.state.user.member_bank_account_number }}
                </h5>
            </div>
            <div class="d-flex justify-content-center">
                <nuxt-link to="/member/deposit" class="btn btn-warning m-1 w-100"><i class="fas fa-money-check text-white mt-2"></i><br />
                    <p class="text-white">ฝากเงิน</p>
                </nuxt-link>
                <nuxt-link to="/member/withdraw" class="btn btn-warning m-1 w-100"><i class="fas fa-hand-holding-usd text-white mt-2"></i><br />
                    <p class="text-white">ถอนเงิน</p>
                </nuxt-link>
                <nuxt-link to="/member/member-affiliate" class="btn btn-warning m-1 w-100"><i class="fas fa-users text-dark mt-2"></i><br />
                    <p class="text-dark">สร้างรายได้</p>
                </nuxt-link>
            </div>
            <div class="d-flex justify-content-center my-1">
                <nuxt-link to="/member/history" class="btn btn-danger w-100 d-flex justify-content-center"><i class="fas fa-outdent text-white d-flex align-items-center">
                    </i>
                    <p>&nbsp; ประวัติรายการ ฝากและถอน</p>
                </nuxt-link>
            </div>
            <div class="d-flex justify-content-center my-1">
                <nuxt-link to="/promotion" class="btn btn-blue w-100 d-flex justify-content-center"><i class="fas fa-gift text-white d-flex align-items-center"></i>
                    <p>&nbsp; โปรโมชั่นทั่งหมด</p>
                </nuxt-link>
            </div>
        </b-col>
    </b-row>
</div>
</template>

<script>
export default {};
</script>

<style scoped>
.backsy {
    background: var(--tertiary-color);
    border-radius: 10px;
    padding: 0.5rem;
}

.backsytwo {
    border: 4px solid var(--tertiary-color);
    border-radius: 10px;
}

.circ_size {
    font-size: 3rem;
}

h3 {
    color: #ffffff;
    font-size: 3rem;
}

h4 {
    color: #ffffff;
}

i {
    color: var(--tertiary-color);
    /* font-size: 3rem; */
}

h5 {
    font-size: 1.5rem;
    color: #000;
}

b {
    color: var(--tertiary-color);
}

p {
    font-size: 1.24rem;
    margin-bottom: 0rem;
}

@media (max-width: 768px) {
    p {
        font-size: 0.9rem;
        margin-bottom: 0rem;
    }

    h5 {
        font-size: 1.5rem;
        color: #000;
    }

    .circ_size {
        font-size: 2rem;
    }
}

.btn-blue {
    color: #fff;
    background-color: #182fb3;
    border-color: #182fb3;
}

.btn-blue:hover {
    color: #fff;
    background-color: #001cb9;
    border-color: #001cb9;
}
</style>
