<template>
<div>
    <div class="backsy my-1">
        <h4 class="text-center">รายได้แนะนำเพื่อน</h4>
        <div class="d-flex align-items-center justify-content-center">
            <h3 class="pr-2">{{ "฿" + " " + creditAff }}</h3>
            <i class="fas fa-sync txt-refresh" @click="iconrefresh_aff()"></i>
        </div>
        <h5 class="text_date">{{ listhistory.date_updated }}</h5>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-aff m-1 w-100 text_btn">
            <p>{{ listhistory.total_register }}</p>
            <p>สมาชิก</p>
        </button>
        <button class="btn btn-aff m-1 w-100 text_btn">
            <p>{{ listhistory.total_register_today }}</p>
            <p>สมาชิกวันนี้</p>
        </button>
        <button class="btn btn-aff m-1 w-100 text_btn">
            <p>{{ listhistory.total_register_yesterday }}</p>
            <p>สมาชิกเมื่อวาน</p>
        </button>
    </div>
    <div class="text-center">
        <p class="text_detail">ยอดรายได้อัพเดทหลัง 24 ชั่วโมง</p>
    </div>
    <hr />
    <div v-if="user.affiliate_html_link" class="text-center">
        <p class="text-center p-0 m-0">ลิ้งแนะนำของคุณ</p>
        <qrcode :value="user.affiliate_html_link" :options="{ width: 200 }"></qrcode>
        <div class="card-aff mb-3">
            <a :href="user.affiliate_html_link" target="_blank" style="font-size: 14px"><span>{{ user.affiliate_html_link }}</span></a>
        </div>
        <button class="btn btn-danger rounded" @click="copyLink(user.affiliate_html_link)">
            คัดลอกลิ้งค์
        </button>
    </div>
    <div v-else class="text_none_link text-center">
        <h3 class="text-dark">ไม่พบข้อมูลลิ้งค์แนะนำของคุณ</h3>
        <p class="text-info">
            <a :href="listcontact.contact_line_url" target="_blank">โปรดติดต่อเรา</a>
        </p>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button class="btn-mem-aff" @click="salarydetail()">
            สรุปรายเดือน
        </button>
        <button class="btn-mem-aff" @click="downloadbanner()">
            รูปแบนเนอร์
        </button>
    </div>
</div>
</template>

<script>
import * as affiliate from "@/utils/API/getdata";
import * as Member from "@/utils/member";
export default {
    data() {
        return {
            creditAff: 0,
            user: [],
            gettime: "",
            listcontact: "",
            listaffref: [],
            listhistory: []
        };
    },
    async mounted() {
        const affsum = await affiliate.affsummary();
        this.listhistory = affsum.data.datas[0];
        const affref = await affiliate.affreferrer();
        this.listaffref = affref.data.datas;
        console.log(affref.data.datas);
        const affDate = new Date().toLocaleString();
        this.creditAff = this.listhistory.total_amount.toLocaleString(undefined, {
            minimumFractionDigits: 2
        });
        const cont = await affiliate.getContact();
        this.listcontact = cont;

        this.gettime = affDate;
        if (this.$auth.loggedIn) {
            const info = await Member.info();
            this.$auth.setUser(info);
            this.user = this.$auth.user;
        }
    },
    methods: {
        async copyLink(text) {
            try {
                await this.$copyText(text);
                this.$swal({
                    icon: "success",
                    title: "คัดลอกสำเร็จ"
                });
            } catch (e) {
                console.error(e);
            }
        },
        salarydetail() {
            window.location.replace("/member/salary");
        },
        downloadbanner() {
            window.location.replace("/member/banner");
        },
        async iconrefresh_aff() {
            if (this.$auth.user) {
                this.$store.commit("setCreditAff", await this.$realtimeCreditAff());
            }
        }
    }
};
</script>

<style scoped>
.backsy {
    background: var(--tertiary-color);
    border-radius: 10px;
    padding: 0.5rem;
}

.backsytwo {
    border: 4px solid var(--tertiary-color);
    border-radius: 10px;
}

h3 {
    color: #ffffff;
    font-size: 3rem;
}

h4 {
    color: #ffffff;
}

i {
    color: var(--tertiary-color);
    /* font-size: 3rem; */
}

h5 {
    font-size: 2rem;
    color: #000;
}

b {
    color: var(--tertiary-color);
}

p {
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

.txt-refresh {
    color: #ffffff;
}

.btn-blue {
    color: #fff;
    background-color: #182fb3;
    border-color: #182fb3;
}

.btn-blue:hover {
    color: #fff;
    background-color: #001cb9;
    border-color: #001cb9;
}

.text_date {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.text_btn p {
    font-size: 18px;
    color: #ffffff;
}

.text_detail {
    font-size: 15px;
    text-align: center;
    color: #000000;
}

.card-aff {
    border: 1px solid rgb(165, 26, 27);
    padding: 5px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.card-aff a {
    margin: 5px;
    word-wrap: normal;
    white-space: nowrap;
}

.btn-mem-aff {
    border: 2px solid #bd191a;
    border-radius: 15px;
    height: 35px;
    width: 140px;
    font-size: 15px;
    margin-left: 5px;
    color: #101010;
    background-color: transparent;
}

.btn-mem-aff:hover {
    border: 2px solid #bd191a;
    border-radius: 15px;
    height: 35px;
    width: 140px;
    font-size: 15px;
    margin-left: 5px;
    color: #ffc107;
    background-color: transparent;
}

.btn-aff {
    color: #212529;
    background-color: #181848;
    border-color: #21216b;
}
.btn-aff:hover {
    color: #212529;
    background-color: #0c0c2d;
    border-color: #21216b;
}

.text_none_link h3 {
    font-size: 20px;
}

.text_none_link p {
    font-size: 18px;
}

.text_none_link p a:hover {
    text-decoration: none;
}
</style>
