<template>
  <div class="my-2">
    <div class="d-flex justify-content-center my-2">
      <i class="fas fa-user-circle pr-2" style="font-size: 3rem;"></i>
      <h5>
        สวัสดีคุณ
        <b>{{
          $store.state.user.member_firstname +
            " " +
            $store.state.user.member_lastname
        }}</b>
      </h5>
    </div>
    <b-row>
      <b-col class="m-auto">
        <system-affiliate-detail></system-affiliate-detail>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import SystemAffiliateDetail from './SystemAffiliateDetail.vue';
export default {
  components: { SystemAffiliateDetail },};
</script>

<style scoped></style>

