<template>
  <div class="d-block d-lg-none">
      <index-slot-mobile></index-slot-mobile>
  </div>
</template>

<script>
import IndexSlotMobile from './IndexSlotMobile.vue'
export default {
  components: { IndexSlotMobile },

}
</script>

<style>

</style>