<template>
  <div>
    <div>
      <Nuxt />
      <div id="lineregis" class="left-box-fix">
        <div class="text-right pr-1 text-danger">
          <i
            class="fas fa-times"
            style="cursor: pointer; font-size: 1rem;"
            aria-hidden="true"
            @click="close()"
          ></i>
        </div>
        <div class="card text-light bg-green">
          <div class="card-body p-1">
            <nuxt-link to="/contact">
              <img
                class="w-100 lazyLoad isLoaded"
                style="cursor: pointer"
                src="https://static.line-scdn.net/line_urlscheme/edge/img/img_line_square.png"
              />
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    close() {
      const x = document.getElementById("lineregis");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  }
};
</script>

<style>
.left-box-fix {
  position: fixed;
  width: 50px;
  height: 90px;
  z-index: 99999;
  right: 12px;
  bottom: 5px;
}
.left-box-fix p {
  margin: 0rem;
  font-size: 13px;
}

.left-box-fix .card {
  border-radius: 3.25rem;
}
.left-box-fix .bg-green {
  background: #00b900;
  padding: 2.05px;
}
.centered {
  position: fixed;
  /* or absolute */
  top: 0%;
  left: 0%;
}
</style>
