<template>
  <div class="d-block d-lg-none">
    <b-container class="bg-border">
      <div class="pb-2 mb-3">
        <slide-tab-mobile></slide-tab-mobile>
        <b-container>
          <b-row>
            <b-col cols="12" class="backdata">
              <system-user></system-user>
            </b-col>
            <b-col cols="12" class="backchang"> <last-game></last-game></b-col>
          </b-row>
        </b-container>
      </div>
    </b-container>
  </div>
</template>

<script>
import SystemUser from "../SystemUser.vue";
import LastGame from "../LastGame.vue";
import SlideTabMobile from "~/components/slidetab/SlideTabMobile.vue";
export default {
  components: { SystemUser, SlideTabMobile, LastGame }
};
</script>

<style scoped>
.backdata {
  background: #dbdad9;
}

.backchang {
  background: var(--quaternary-color);
}
</style>
