<template>
  <div class="col-12 px-0">
    <img src="/images/BG_about.png" width="100%" />
    <div class="carousel-caption">
      <p class="text-left f_size">
        +++++ เว็บเดียวครบ ระบบที่ดีที่สุด ฝากถอน 30 วิ
      </p>
      <p>
        เราคือ ++++++ ศูนย์รวมเกมพนันออนไลน์ ที่รวบรวมเกมทั้งหมด
        ไว้บนแพลตฟอร์มเดียวกัน ฝากถอนอัตโนมัติด้วยเทคโนโลยีสุดล้ำ
        ได้รับรวดเร็วภายในระยะเวลาไม่กี่วินาที
      </p>
      <p>
        +++++ รองรับอุปกรณ์ทุกรูปแบบผ่าน HTML5 สะดวกสบายไม่ต้องดาวน์โหลด
        ไม่ว่าจะเป็นคอมพิวเตอร์
        แท็บเล็ตหรือมือถือด้วยระบบที่เสถียรให้ความลื่นไหลมากที่สุด
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.carousel-caption {
  position: absolute;
  right: 5%;
  bottom: 25%;
  left: 60%;
  z-index: 10;
  color: #fff;
  text-align: center;
}

.carousel-caption .f_size {
  text-indent: 1rem;
  font-size: 1.65rem;
}

.carousel-caption p {
  text-indent: 1rem;
  font-size: 1.3rem;
  text-align: left;
}
</style>
