<template>
  <div class="bg-slot-index">
    <b-container class="p-3">
      <b-row>
        <b-col lg="4"
          ><b-container>
            <div class="row btn-play text-white text-center">
              <div class="col-lg-1"></div>
              <div class="col-lg-2 text-right m-auto p-0">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </div>
              <div class="col-lg-7 text-left p-0">
                <h1>ร่วมเดิมพันที่</h1>
                <h2>ทั้งสะดวกและรวดเร็ว</h2>
              </div>
            </div></b-container
          >
        </b-col>
        <b-col lg="4"
          ><b-container>
            <div class="row btn-play text-white text-center">
              <div class="col-lg-2 text-right m-auto p-0">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
              </div>
              <div class="col-lg-7 text-left p-0">
                <h1>การฝาก</h1>
                <h2>ใช้เวลาในการฝากเพียง 2-4 นาที</h2>
              </div>
              <div class="col-lg-1"></div></div
          ></b-container>
        </b-col>
        <b-col lg="4"
          ><b-container>
            <div class="row btn-login text-white text-center">
              <div class="col-lg-1"></div>
              <div class="col-lg-2 text-right m-auto p-0">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
              </div>
              <div class="col-lg-7 text-left p-0">
                <h1>ร่วมเล่นกับเรา</h1>
                <h2>พร้อมจะเป็นผู้ชนะหรือยัง</h2>
              </div>
            </div></b-container
          >
        </b-col>
      </b-row>
    </b-container>
    <b-container class="pt-3 pb-3">
      <b-row>
        <b-col lg="3" class="pr-1"
          ><div class="image_lobby_1">
            <img src="/images/index/JoinLobby01.png" width="100%" />
            <button class="btn btn-danger">Join Lobby</button>
          </div></b-col
        >
        <b-col lg="6" class="pr-1"
          ><b-row>
            <b-col lg="6" class="pb-2"
              ><div class="image_lobby_2">
                <img src="/images/index/JoinLobby02.png" width="100%" /><button
                  class="btn btn-danger"
                >
                  Join Lobby
                </button>
              </div></b-col
            >
            <b-col lg="6" class="pb-2"
              ><div class="image_lobby_2">
                <img src="/images/index/JoinLobby03.png" width="100%" /><button
                  class="btn btn-danger"
                >
                  Join Lobby
                </button>
              </div></b-col
            >
            <b-col lg="12" class="pb-2"
              ><div class="image_lobby_3">
                <img src="/images/index/JoinLobby06.png" width="100%" /><button
                  class="btn btn-danger"
                >
                  Join Lobby
                </button>
              </div></b-col
            ></b-row
          ></b-col
        >
        <b-col lg="3"
          ><b-row>
            <b-col lg="12" class="pb-2"
              ><div class="image_lobby_2">
                <img src="/images/index/JoinLobby04.png" width="100%" /><button
                  class="btn btn-danger"
                >
                  Join Lobby
                </button>
              </div></b-col
            >
            <b-col lg="12" class="pb-2"
              ><div class="image_lobby_2">
                <img src="/images/index/JoinLobby05.png" width="100%" /><button
                  class="btn btn-danger"
                >
                  Join Lobby
                </button>
              </div></b-col
            >
            <b-col lg="12" class="pb-2"
              ><div class="image_lobby_2">
                <img src="/images/index/JoinLobby07.png" width="100%" /><button
                  class="btn btn-danger"
                >
                  Join Lobby
                </button>
              </div></b-col
            ></b-row
          ></b-col
        >
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.bg-slot-index {
  background: linear-gradient(90deg, #202036 0%, #202036 100%);
}
.btn-play {
  background: #202036;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.btn-play h1,
.btn-login h1 {
  font-size: 20px;
}
.btn-play h2,
.btn-login h2 {
  font-size: 18px;
}
.btn-login {
  background: #cf2029;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.image_lobby_1 button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  background: #cf2029;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
.image_lobby_2 button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  background: #cf2029;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
.image_lobby_3 button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  background: #cf2029;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
.image_lobby_1 button:hover {
  background: #881117;
}
.image_lobby_2 button:hover {
  background: #881117;
}
.image_lobby_3 button:hover {
  background: #881117;
}
</style>
