<template>
  <div class="d-none d-lg-block">
    <banner-pc></banner-pc>
    <links-btn-index-pc></links-btn-index-pc>
    <slot-index-pc></slot-index-pc>
    <promotion-index-pc></promotion-index-pc>
    <news-index-pc></news-index-pc>
    <about-footer-pc></about-footer-pc>
  </div>
</template>

<script>
import BannerPc from "~/components/banner/PC/BannerPc.vue";
import LinksBtnIndexPc from "~/components/page/home/PC/LinksBtnIndexPc.vue";
import SlotIndexPc from "~/components/page/home/PC/SlotIndexPc.vue";
import PromotionIndexPc from "~/components/page/home/PC/PromotionIndexPc.vue";
import NewsIndexPc from "~/components/page/home/PC/NewsIndexPc.vue";
import AboutFooterPc from "~/components/page/home/PC/AboutFooterPc.vue";
export default {
  components: {
    BannerPc,
    LinksBtnIndexPc,
    SlotIndexPc,
    PromotionIndexPc,
    NewsIndexPc,
    AboutFooterPc
  }
};
</script>

<style scoped></style>
