<template>
  <div class="bg-slot-index">
    <b-container class="p-3">
      <h1 class="text-white text-left" style="font-size: 30px;">ข่าวสาร</h1>
      <b-row>
        <b-col lg="3" class="pr-1"
          ><div class="image_lobby_1">
            <img src="/images/index/JoinLobby01.png" width="100%" /></div
        ></b-col>
        <b-col lg="4" class="pr-1"
          ><b-row>
            <b-col lg="6" class="pb-2"
              ><div class="image_lobby_2">
                <img src="/images/index/JoinLobby02.png" width="100%" /></div
            ></b-col>
            <b-col lg="6" class="pb-2"
              ><div class="image_lobby_2">
                <img src="/images/index/JoinLobby03.png" width="100%" /></div
            ></b-col>
            <b-col lg="12" class="pb-2"
              ><div class="image_lobby_3">
                <img
                  src="/images/index/JoinLobby06.png"
                  width="100%"
                  height="500px"
                /></div></b-col
          ></b-row>
          <div class="mr-3">
            <button class="btn-allnews float-right">
              All News
              <i class="fas fa-arrow-right" style="font-size:18px;"></i>
            </button>
          </div>
        </b-col>
        <b-col class="charec"
          ><img src="/images/index/charecter_index.png" width="100%"
        /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.bg-slot-index {
  background: linear-gradient(90deg, #202036 0%, #202036 100%);
}
.charec {
  margin-left: -50px;
  margin-right: -142px;
  padding-left: 0px;
  padding-right: 0px;
}
.btn-allnews {
  background: #202036;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
