<template>
  <div class="bg-slotimg-index">
    <b-container class="p-3">
      <div><img src="/images/index/PG.png" width="15%" /></div>
      <hooper :settings="hooperSettings" :infiniteScroll="true">
        <slide v-for="game in SlotShowpg.slice(0, 10)" :key="game.game_id">
          <div class="px-2 pt-2">
            <img :src="game.slot_image" width="100%" />
          </div>
        </slide>
        <hooper-pagination slot="hooper-addons"></hooper-pagination>
      </hooper>
    </b-container>
    <b-container class="p-3">
      <div><img src="/images/index/kingmaker.png" width="15%" /></div>
      <hooper :settings="hooperSettings" :infiniteScroll="true">
        <slide v-for="game in SlotShowqm.slice(0, 10)" :key="game.game_id">
          <div class="px-2 pt-2">
            <img :src="game.slot_image" width="100%" />
          </div>
        </slide>
        <hooper-pagination slot="hooper-addons"></hooper-pagination>
      </hooper>
    </b-container>
    <b-container class="p-3">
      <div><img src="/images/index/simpleplay.png" width="15%" /></div>
      <hooper :settings="hooperSettings" :infiniteScroll="true">
        <slide v-for="game in SlotShowsp.slice(0, 10)" :key="game.game_id">
          <div class="px-2 pt-2">
            <img :src="game.slot_image" width="100%" />
          </div>
        </slide>
        <hooper-pagination slot="hooper-addons"></hooper-pagination>
      </hooper>
    </b-container>
    <b-container class="p-1">
      <div><img src="/images/index/joker.png" width="15%" /></div>
      <hooper :settings="hooperSettings" :infiniteScroll="true">
        <slide v-for="game in SlotShowjo.slice(0, 10)" :key="game.game_id">
          <div class="px-2 pt-2">
            <img :src="game.slot_image" width="100%" />
          </div>
        </slide>
        <hooper-pagination slot="hooper-addons"></hooper-pagination>
      </hooper>
    </b-container>
  </div>
</template>

<script>
import {
  Hooper,
  Slide,
  Pagination as HooperPagination,
  itemsToSlide,
  infiniteScroll
} from "hooper";
import * as slot from "@/utils/API/getdata";

export default {
  name: "App",
  components: {
    Hooper,
    Slide,
    HooperPagination,
    itemsToSlide,
    infiniteScroll
  },

  data() {
    return {
      SlotShow: [],
      SlotShowpg: [],
      SlotShowsp: [],
      SlotShowqm: [],
      SlotShowjo: [],
      hooperSettings: {
        itemsToShow: 5,
        autoPlay: true
      },
      status: {
        slots: ""
      }
    };
  },

  async mounted() {
    const listslot = await slot.GameListslotIndex();
    console.log("sss", listslot);
    const resultsp = listslot.filter(slotsp => {
      return slotsp.game_id == "SP";
    });
    const resultpg = listslot.filter(slotpg => {
      return slotpg.game_id == "PG";
    });
    const resultqm = listslot.filter(slotqm => {
      return slotqm.game_id == "QM";
    });
    const resultjo = listslot.filter(slotjo => {
      return slotjo.game_id == "JO";
    });
    console.log(resultsp);
    this.SlotShowsp = resultsp;
    console.log(resultpg);
    this.SlotShowpg = resultpg;
    console.log(resultqm);
    this.SlotShowqm = resultqm;
    console.log(resultjo);
    this.SlotShowjo = resultjo;
  }
};
</script>

<style scoped>
.bg-slotimg-index {
  background-image: url(/images/index/BGSLOT.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 4rem;
}
</style>
