<template>
<div>
  <home-affiliate-pc></home-affiliate-pc>
  <home-affiliate-mobile></home-affiliate-mobile>
</div>
</template>

<script>
import HomeAffiliateMobile from '~/components/page/affilaite/mobile/HomeAffiliateMobile.vue'
import HomeAffiliatePc from '~/components/page/affilaite/PC/HomeAffiliatePc.vue'
export default {
  components: {HomeAffiliatePc, HomeAffiliateMobile },

}
</script>

<style>

</style>