<template>
  <div>
      <home-condition-pc></home-condition-pc>
      <home-condition-mobile></home-condition-mobile>
  </div>
</template>

<script>
import HomeConditionMobile from '~/components/page/condition/mobile/HomeConditionMobile.vue'
import HomeConditionPc from '~/components/page/condition/PC/HomeConditionPc.vue'
export default {
  components: { HomeConditionPc, HomeConditionMobile },

}
</script>

<style>

</style>