<template>
  <div>
      <home-contact-mobile></home-contact-mobile>
      <home-contact-pc></home-contact-pc>
  </div>
</template>

<script>
import HomeContactMobile from '~/components/page/contact/mobile/HomeContactMobile.vue'
import HomeContactPc from '~/components/page/contact/PC/HomeContactPc.vue'
export default {
  components: { HomeContactMobile, HomeContactPc }

}
</script>

<style>

</style>