<template>
  <div>
    <main-index-pc></main-index-pc>
    <main-index-mobile></main-index-mobile>
  </div>
</template>

<script>
import MainIndexMobile from "~/components/page/home/mobile/MainIndexMobile.vue";
import MainIndexPc from "~/components/page/home/PC/MainIndexPc";
export default {
  components: { MainIndexPc, MainIndexMobile }
};
</script>

<style></style>
