<template>
  <div>
    <home-promotion-pc></home-promotion-pc>
    <home-promotion-mobile></home-promotion-mobile>
  </div>
</template>

<script>
import HomePromotionMobile from '~/components/page/promotion/mobile/HomePromotionMobile.vue'
import HomePromotionPc from '~/components/page/promotion/PC/HomePromotionPc.vue'
export default {
  components: {HomePromotionPc, HomePromotionMobile },

}
</script>

<style>

</style>