<template>
  <div>
    <home-slot-pc></home-slot-pc>
    <home-slot-mobile></home-slot-mobile>
  </div>
</template>

<script>
import HomeSlotMobile from '~/components/page/slot/mobile/HomeSlotMobile.vue'
import HomeSlotPc from '~/components/page/slot/PC/HomeSlotPc.vue'
export default {
  components: {HomeSlotPc, HomeSlotMobile  },

}
</script>

<style>

</style>