<template>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li v-for="(BannerShow, idx) in BannerShow" :key="idx" data-target="#carouselExampleIndicators" data-slide-to="0" :class="{ active: idx == 0 }"></li>
      </ol>
    <div class="carousel-inner">
        <div v-for="(BannerShow, idx) in BannerShow" :key="idx" :class="{ active: idx == 0 }" class="carousel-item">
            <img class="d-block w-100" :src="BannerShow.banner_image" alt="First slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</template>

<script>
import * as banner from '@/utils/API/getdata'
export default {
    data() {
        return {
            BannerShow: []
        }
    },
    async mounted() {
        const bannerpc = await banner.bannerlist()
        this.BannerShow = bannerpc
    }
}
</script>

<style>

</style>
