<template>
  <div>
      <home-deposit-pc></home-deposit-pc>
      <home-deposit-mobile></home-deposit-mobile>
  </div>
</template>

<script>
import HomeDepositMobile from '~/components/page/deposit/mobile/HomeDepositMobile.vue'
import HomeDepositPc from '~/components/page/deposit/PC/HomeDepositPc.vue'
export default {
  components: {HomeDepositPc, HomeDepositMobile },

}
</script>

<style>

</style>