<template>
  <div>
     <home-history-pc></home-history-pc>
     <home-history-mobile></home-history-mobile>
  </div>
</template>

<script>
import HomeHistoryMobile from '~/components/page/history/mobile/HomeHistoryMobile.vue'
import HomeHistoryPc from '~/components/page/history/PC/HomeHistoryPc.vue'
export default {
  components: {HomeHistoryPc, HomeHistoryMobile  },

}
</script>

<style>

</style>