<template>
  <div class="m-2">
    <main-member-pc></main-member-pc>
    <main-member-mobile></main-member-mobile>
  </div>
</template>

<script>
import MainMemberPc from "~/components/page/member/PC/MainMemberPc.vue";
import MainMemberMobile from "~/components/page/member/mobile/MainMemberMobile.vue";
export default {
  middleware: ["authenticate"],
  components: {
    MainMemberMobile,
    MainMemberPc
  }
};
</script>

<style scoped></style>
