<template>
  <div>
      <home-login-pc></home-login-pc>
      <home-login-mobile></home-login-mobile>
  </div>
</template>

<script>
import HomeLoginMobile from '~/components/login/mobile/HomeLoginMobile.vue'
import HomeLoginPc from '~/components/login/PC/HomeLoginPc.vue'
export default {
  components: { HomeLoginPc, HomeLoginMobile },

}
</script>

<style>

</style>