<template>
  <div>
      <home-memberaff-pc></home-memberaff-pc>
      <home-memberaff-mobile></home-memberaff-mobile>
  </div>
</template>

<script>
import HomeMemberaffMobile from '~/components/page/member-affiliate/mobile/HomeMemberaffMobile.vue'
import HomeMemberaffPc from '~/components/page/member-affiliate/PC/HomeMemberaffPc.vue'
export default {
  components: { HomeMemberaffPc, HomeMemberaffMobile },

}
</script>

<style>

</style>