<template>
  <div>
      <home-profile-pc></home-profile-pc>
      <home-profile-mobile></home-profile-mobile>
  </div>
</template>

<script>
import HomeProfileMobile from '~/components/page/profile/mobile/HomeProfileMobile.vue'
import HomeProfilePc from '~/components/page/profile/PC/HomeProfilePc.vue'
export default {
  components: { HomeProfilePc, HomeProfileMobile },

}
</script>

<style>

</style>