<template>
<div class="bg-register">
    <b-container class="page-center" style="margin: 100px auto 0px">
        <div class="d-flex justify-content-center">
            <div class="text-center"><img src="/images/logo.png" class="d-block d-lg-none" width="300px" alt="" /></div>
            <img src="/images/logo.png" alt="MAJOR168" class="d-none d-lg-block" width="300px" />
        </div>
        <main-register-ads></main-register-ads>
    </b-container>
</div>
</template>

<script>
import MainRegisterAds from '~/components/page/register/MainRegisterAds.vue';
export default {
    layout: "registermain",
    components: {
        MainRegisterAds
    },
    head() {
        return {
            title: 'สมัครสมาชิก | MAJOR168 คาสิโนออนไลน์ เกมสล็อต แทงบอลออนไลน์ ฝาก-ถอน 10 วินาที',
            meta: [{
                hid: 'description',
                name: 'description',
                content: 'สมัครสมาชิก | คาสิโนออนไลน์ บาคาร่า รูเล็ต ไพ่ออนไลน์ แทงบอล หวย พนันออนไลน์ครบทุกรูปแบบ MAJOR168 เว็บเดียวตอบโจทย์ผู้เล่นทุกระดับ ฝากถอนด้วยระบบอัติโนมัติ 10 วินาที',
            }, ],
        }
    },
};
</script>

<style>
.bg-register{
    background: var(--primary-color);
}
.register__container {
    padding: 20px;
}

.register h1 {
    color: white;
}

.adsstyle h2 {
    color: #000;
}

@media (min-width: 768px) {
    .imglogo-mobile {
        height: 5%;
    }
}
</style>
