<template>
  <div>
    <main-register></main-register>
  </div>
</template>

<script>
import MainRegister from "~/components/page/register/MainRegister.vue";
export default {
  components: {
    MainRegister
  }
};
</script>

<style></style>
