<template>
  <div class="bg-register">
    <b-container class="page-center" style="margin: 100px auto 0px">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <img
            src="/images/logo.png"
            class="d-block d-lg-none"
            width="300px"
            alt=""
          />
        </div>
        <img
          src="/images/logo.png"
          alt="MAJOR168"
          class="d-none d-lg-block"
          width="300px"
        />
      </div>
      <main-register-ads></main-register-ads>
      <div>
        <div class="adsstyle mb-4 text-center">
          <a href="/">
            <default-button title="หน้าหลัก"></default-button>
          </a>
          <a href="/promotion">
            <default-button title="โปรโมชั่น"></default-button>
          </a>
        </div>
        <div class="mb-3 mt-4 pb-5 container d-flex justify-content-center">
          <a :href="listcontact.contact_line_url" target="_blank">
            <img class="text-center w-100" src="/images/regisgift.gif"
          /></a>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import * as contact from "@/utils/API/getdata";
import MainRegisterAds from "~/components/page/register/MainRegisterAds.vue";
import DefaultButton from "~/components/button/DefaultButton.vue";
export default {
  layout: "registermain",
  data() {
    return {
      listcontact: ""
    };
  },
  components: {
    MainRegisterAds,
    DefaultButton
  },
  async mounted() {
    const cont = await contact.getContact();
    this.listcontact = cont;
  },

  head() {
    return {
      title:
        "สมัครสมาชิก | MAJOR168 คาสิโนออนไลน์ เกมสล็อต แทงบอลออนไลน์ ฝาก-ถอน 10 วินาที",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "สมัครสมาชิก | คาสิโนออนไลน์ บาคาร่า รูเล็ต ไพ่ออนไลน์ แทงบอล หวย พนันออนไลน์ครบทุกรูปแบบ MAJOR168 เว็บเดียวตอบโจทย์ผู้เล่นทุกระดับ ฝากถอนด้วยระบบอัติโนมัติ 10 วินาที"
        }
      ]
    };
  }
};
</script>

<style>
.bg-register {
  background: var(--primary-color);
}
.register__container {
  padding: 20px;
}

.register h1 {
  color: white;
}

.adsstyle h2 {
  color: #000;
}

@media (min-width: 768px) {
  .imglogo-mobile {
    height: 145px;
  }
}
</style>
