<template>
<div>
    <home-voucher-pc></home-voucher-pc>
    <home-voucher-mobile></home-voucher-mobile>
</div>
</template>

<script>
import HomeVoucherMobile from '~/components/page/voucher/mobile/HomeVoucherMobile.vue'
import HomeVoucherPc from '~/components/page/voucher/PC/HomeVoucherPc.vue'
export default {
    components: {
        HomeVoucherPc,
        HomeVoucherMobile
    },

}
</script>

<style>

</style>
