<template>
  <div>
    <home-withdraw-pc></home-withdraw-pc>
    <home-withdraw-mobile></home-withdraw-mobile>
  </div>
</template>

<script>
import HomeWithdrawMobile from '~/components/page/withdrow/mobile/HomeWithdrawMobile.vue'
import HomeWithdrawPc from '~/components/page/withdrow/PC/HomeWithdrawPc.vue'
export default {
  components: {HomeWithdrawPc, HomeWithdrawMobile },

}
</script>

<style>

</style>