<template>
  <div>
    <table
      role="table"
      aria-busy="false"
      aria-colcount="4"
      class="table b-table table-striped table-hover"
    >
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader" scope="col" aria-colindex="1">
            <div>
              <p class="text_head">วันที่</p>
            </div>
          </th>
          <th role="columnheader" scope="col" aria-colindex="2">
            <div>
              <p class="text_head">จำนวนที่ถอน</p>
            </div>
          </th>
          <th role="columnheader" scope="col" aria-colindex="3">
            <div>
              <p class="text_head">สถานะ</p>
            </div>
          </th>
          <th role="columnheader" scope="col" aria-colindex="3">
            <div>
              <p class="text_head"></p>
            </div>
          </th>
        </tr>
      </thead>
      <tbody role="rowgroup" class="text-dark">
        <tr v-if="his === 0">
          <td colspan="4" class="text-center">
            <div class="d-flex justify-content-center p-2 m-2">
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td v-if="his === 2" colspan="4" class="text-center">
            ไม่มีข้อมูล
          </td>
        </tr>
        <tr
          v-for="(withdrawhistoryshow, withdraw_transaction_id) in showWithdraw"
          :key="withdraw_transaction_id"
        >
          <td>{{ withdrawhistoryshow.withdraw_transaction_datetime }}</td>
          <td class="text-right">
            {{
              "฿" +
                withdrawhistoryshow.withdraw_transaction_amount.toLocaleString(
                  undefined,
                  { minimumFractionDigits: 2 }
                )
            }}
          </td>
          <td
            v-if="withdrawhistoryshow.withdraw_transaction_status === -1"
            class="text-center"
            style="color: red"
          >
            {{ withdrawhistoryshow.withdraw_status_name }}
          </td>
          <td
            v-if="withdrawhistoryshow.withdraw_transaction_status === 0"
            class="text-center"
            style="color: #ffc107"
          >
            {{ withdrawhistoryshow.withdraw_status_name }}
          </td>
          <td
            v-if="withdrawhistoryshow.withdraw_transaction_status === 1"
            class="text-center"
            style="color: green"
          >
            {{ withdrawhistoryshow.withdraw_status_name }}
          </td>
          <td
            v-if="withdrawhistoryshow.withdraw_transaction_status === 2"
            class="text-center"
            style="color: blue"
          >
            {{ withdrawhistoryshow.withdraw_status_name }}
          </td>
          <td>
            <button
              v-if="withdrawhistoryshow.withdraw_transaction_status === 0"
              class="btn btn-danger btn-block btn-sm"
              @click="
                cancelwithdraw(withdrawhistoryshow.withdraw_transaction_id)
              "
            >
              ยกเลิกถอน
            </button>
            <span v-if="withdrawhistoryshow.withdraw_transaction_status === -1">
              <span
                v-if="
                  withdrawhistoryshow.withdraw_transaction_changer ===
                    user.member_username
                "
                class="text-danger"
                >ยกเลิกโดยสมาชิก</span
              >
              <a
                v-else
                href="#"
                @click="reason(withdrawhistoryshow.withdraw_cancel_reason)"
                >สาเหตุยกเลิก</a
              >
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <nav id="pagination-right">
      <ul class="pagination justify-content-end">
        <li :class="withdraw.page != 1 ? 'page-item' : 'page-item disabled'">
          <a class="page-link" href="#" @click="withdraw.page--">ก่อนหน้า</a>
        </li>
        <li
          v-for="pageNumber in loopPaginate(this.withdraw)"
          :key="pageNumber"
          :class="
            pageNumber == withdraw.page ? 'page-item active' : 'page-item'
          "
        >
          <a class="page-link" href="#" @click="withdraw.page = pageNumber">{{
            pageNumber
          }}</a>
        </li>
        <li
          :class="
            withdraw.page < withdraw.pages.length
              ? 'page-item'
              : 'page-item disabled'
          "
        >
          <a class="page-link" href="#" @click="withdraw.page++">ถัดไป</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import * as history from "@/utils/API/getdata";
export default {
  data() {
    return {
      his: 0,
      user: [],
      listWithdraw: [],
      withdraw: {
        page: 1,
        perPage: 10,
        pages: [],
        loading: true
      }
    };
  },
  computed: {
    showWithdraw() {
      return this.paginate(this.withdraw, this.listWithdraw);
    }
  },
  async mounted() {
    if (this.$auth.user) {
      try {
        const responsewithdrawhistory = await history.withdrawhistory();
        if (responsewithdrawhistory.data.status === true) {
          this.listWithdraw = responsewithdrawhistory.data.transaction;
          if (this.listWithdraw) {
            this.setPages(this.withdraw, this.listWithdraw.length);
            this.his = 1;
          }
        } else {
          this.his = 2;
        }
      } catch (error) {
        this.his = 2;
      }
    }
  },
  methods: {
    reason(message) {
      this.$swal({
        icon: "error",
        title: "สาเหตุยกเลิก",
        html: `<h3 class="m-0 p-0">${message}</h3><p><a href="/contact" target="_blank">ติดต่อเรา</a></p>`
      }).then(() => {});
    },
    loopPaginate(type) {
      if (type.pages.length > 4 && type.page > 1) {
        if (type.pages.length - type.page < 2) {
          if (type.pages.length - type.page === 0) {
            return type.pages.slice(type.page - 4, type.page + 1);
          } else {
            return type.pages.slice(type.page - 3, type.page + 1);
          }
        } else {
          return type.pages.slice(type.page - 2, type.page + 2);
        }
      } else {
        return type.pages.slice(0, type.page + 3);
      }
    },
    setPages(type, length) {
      type.pages = [];
      const numberOfPages = Math.ceil(length / type.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        type.pages.push(index);
      }
    },

    // paginate
    paginate(type, data) {
      const page = type.page;
      const perPage = type.perPage;
      const from = page * perPage - perPage;
      const to = page * perPage;
      return data.slice(from, to);
    },
    cancelwithdraw(id) {
      this.$swal({
        title: "แน่ใจหรือไม่",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "ใช่ ต้องการยกเลิก",
        cancelButtonText: "ปิด"
      }).then(async result => {
        if (result.value) {
          const cancel = await history.withdrawCancel(id);
          if (cancel.data.status === true) {
            this.$swal({
              icon: "success",
              title: "ยกเลิกสำเร็จ",
              showConfirmButton: false,
              timer: 1300
            }).then(() => {
              window.location.replace("/member/withdraw");
            });
          } else {
            this.$swal({
              title: "ยกเลิกไม่สำเร็จ",
              text: cancel.data.message,
              icon: "error"
            }).then(() => {});
          }
        }
      });
    }
  }
};
</script>

<style>
.table td,
.table th {
  padding: 0.5rem;
  font-size: 18px;
  font-weight: bold;
}

tbody tr {
  background-color: transparent;
}

.text_head {
  font-size: 20px;
  color: #000000;
  margin-bottom: 0px;
}

tbody {
  background-color: white;
}

.page-item.disabled .page-link {
  color: #0e0e0e;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #b8b6b6;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0c0c0c;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #a9001c;
  border-color: #ffffff;
}

.justify-content-end {
  justify-content: flex-end !important;
  font-weight: bold;
  font-size: 21px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid transparent;
    background: white;
}
</style>
