<template>
  <div class="table-responsive">
    <table class="table table-sm table-light table-bordered table-striped">
      <thead>
        <tr>
          <th>วันที่</th>
          <th class="text-right">จำนวนที่ฝาก</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="his === 0">
          <td colspan="2" class="text-center">
            <div class="d-flex justify-content-center p-2 m-2">
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td v-if="his === 2" colspan="2" class="text-center">ไม่มีข้อมูล</td>
        </tr>
        <tr
          v-for="(deposithistoryshow, deposit_bank_id) in showDeposit"
          :key="deposit_bank_id"
        >
          <td>{{ deposithistoryshow.deposit_at }}</td>
          <td class="text-right">
            {{
              "฿" +
              deposithistoryshow.credit_amount.toLocaleString(undefined, {
                minimumFractionDigits: 2,
              })
            }}
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <nav id="pagination-left">
      <ul class="pagination justify-content-end">
        <li :class="deposit.page != 1 ? 'page-item' : 'page-item disabled'">
          <a class="page-link" href="javascript:void(0)" @click="deposit.page--"
            >ก่อนหน้า</a
          >
        </li>
        <li
          v-for="pageNumber in loopPaginate(this.deposit)"
          :key="pageNumber"
          :class="pageNumber == deposit.page ? 'page-item active' : 'page-item'"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            @click="deposit.page = pageNumber"
            >{{ pageNumber }}</a
          >
        </li>
        <li
          :class="
            deposit.page < deposit.pages.length
              ? 'page-item'
              : 'page-item disabled'
          "
        >
          <a class="page-link" href="javascript:void(0)" @click="deposit.page++"
            >ถัดไป</a
          >
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import * as history from "@/utils/API/getdata";
export default {
  data() {
    return {
      his: 0,
      listDeposit: [],
      bankaccount: [],
      deposit: {
        page: 1,
        perPage: 10,
        pages: [],
        loading: true,
      },
    };
  },
  computed: {
    showDeposit() {
      return this.paginate(this.deposit, this.listDeposit);
    },
  },
  async mounted() {
    try {
        const responsedeposithistory = await history.deposithistory()
        console.log('ddd',responsedeposithistory)
        if (responsedeposithistory.data.status === true) {
          this.listDeposit = responsedeposithistory.data.transaction
          this.setPages(this.deposit, this.listDeposit.length)
          this.his = 1
        } else {
          this.his = 2
        }
      } catch (error) {
        this.his = 2
      }
  },
  methods: {
    loopPaginate(type) {
      if (type.pages.length > 4 && type.page > 1) {
        if (type.pages.length - type.page < 2) {
          if (type.pages.length - type.page === 0) {
            return type.pages.slice(type.page - 4, type.page + 1);
          } else {
            return type.pages.slice(type.page - 3, type.page + 1);
          }
        } else {
          return type.pages.slice(type.page - 2, type.page + 2);
        }
      } else {
        return type.pages.slice(0, type.page + 3);
      }
    },
    setPages(type, length) {
      type.pages = [];
      const numberOfPages = Math.ceil(length / type.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        type.pages.push(index);
      }
    },

    // paginate
    paginate(type, data) {
      const page = type.page;
      const perPage = type.perPage;
      const from = page * perPage - perPage;
      const to = page * perPage;
      return data.slice(from, to);
    },
  },
};
</script>

<style scoped>
.page-item.disabled .page-link {
    color: #0e0e0e;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #b8b6b6;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0c0c0c;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #a9001c;
    border-color: #ffffff;
}

.justify-content-end {
    justify-content: flex-end !important;
    font-weight: bold;
    font-size: 21px;
}
</style>