<template>
<div class="d-lg-none d-block">
    <b-container class="bg-border">
        <div class="pb-2 mb-3">
            <slide-tab-mobile></slide-tab-mobile>
            <b-container>
                <b-row class="bg-data">
                    <b-container>
                        <index-withdraw-mobile></index-withdraw-mobile>
                    </b-container>
                </b-row>
                <b-row class="bg-history mb-3">
                    <b-container>
                        <div class="mt-2 mb-3 txt-history">
                            <h2>ประวัติถอนเงิน</h2>
                        </div>
                        <history-withdraw></history-withdraw>
                    </b-container>
                </b-row>
            </b-container>
        </div>
    </b-container>
</div>
</template>

<script>
import SlideTabMobile from '~/components/slidetab/SlideTabMobile.vue'
import HistoryWithdraw from '../../history/HistoryWithdraw.vue'
import IndexWithdrawMobile from './IndexWithdrawMobile.vue'
export default {
    components: {
        IndexWithdrawMobile,
        SlideTabMobile,
        HistoryWithdraw
    },

}
</script>

<style scoped>
.bg-data {
    box-shadow: 0px 0px 1px 1px #b0b3b0;
    background: #dbdad9;
}

.bg-history {
    background: #fcfbfb;
    box-shadow: 0px 0px 1px 1px #d0d0d0;
}
.txt-history {
    text-align: center;
}

.txt-history h2 {
    color: #6e1506;
    font-weight: bold;
}
</style>
