<template>
  <div class="d-block d-lg-none">
      <index-login-mobile></index-login-mobile>
  </div>
</template>

<script>
import IndexLoginMobile from './IndexLoginMobile..vue'
export default {
  components: { IndexLoginMobile },

}
</script>

<style>

</style>