<template>
  <div class="d-lg-block d-none justify-content-center">
    <b-container>
      <div class="pb-2 mb-3">
        <slide-tab-pc></slide-tab-pc>
        <div class="backchang">
          <index-voucher-pc></index-voucher-pc>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import SlideTabPc from "~/components/slidetab/SlideTabPc.vue";
import IndexVoucherPc from "./IndexVoucherPc.vue";
export default {
  components: {
    IndexVoucherPc,
    SlideTabPc
  }
};
</script>

<style scoped>
.backchang {
  box-shadow: 0px 0px 1px 1px #b0b3b0;
  background: #dbdad9;
}
</style>
