<template>
<div class="container pt-4 detail">
        <div class="p-0 mx-auto mt-5">
            <voucher-detail></voucher-detail>
        </div>
</div>
</template>

<script>
import VoucherDetail from '../VoucherDetail.vue'
export default {
    components: {
        VoucherDetail
    },

}
</script>

<style scoped>
.detail {
    min-height: 23rem;
}
</style>
