<template>
  <div class="card">
    <div class="card-body p-4">
      <div class="d-flex justify-content-center">
        <b-form-group class="w-75">
          <label>คูปอง</label>
          <div class="form-input">
            <div class="form-input__icon">
              <img src="/images/voucher.png" alt="voucher" />
            </div>
            <b-form-input
              class="form-input__input"
              id="voucher_id"
              v-model="voucher_id"
              type="text"
              required
              placeholder="ระบุคูปอง"
            ></b-form-input>
          </div>
        </b-form-group>
      </div>
      <div class="text-center">
        <button class="btn btn-danger rounded" @click="getVoucher()">
          รับคูปอง
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import * as Member from "@/utils/member";

export default {
  data() {
    return {
      user: [],
      voucher_id: ""
    };
  },
  async mounted() {
    if (this.$auth.loggedIn) {
      const info = await Member.info();
      this.$auth.setUser(info);
      this.user = this.$auth.user;
    }
  },
  methods: {
    async getVoucher() {
      if (this.voucher_id.length < 8) {
        this.$swal({
          icon: "error",
          title: "โค้ดคูปองมีเพียง 8 ตัวเท่านั้น"
        });
      } else if (this.voucher_id.length === 8) {
        const voucher = await Member.voucher(this.voucher_id);
        if (voucher.status === false) {
          console.log(voucher);
          this.$swal({
            icon: "error",
            title: voucher.message
          }).then(res => {
            this.voucher_id = null;
          });
        } else if (voucher.status === true) {
          console.log(voucher);
          this.$swal({
            icon: "success",
            title: voucher.message
          }).then(res => {
            this.voucher_id = null;
          });
        }
      } else if (this.voucher_id.length > 8) {
        this.$swal({
          icon: "error",
          title: "โค้ดคูปองมีเพียง 8 ตัวเท่านั้น"
        });
      }
    }
  }
};
</script>

<style scoped>

.card-body {
  padding: 0px;
  overflow: hidden;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
label {
  color: #000;
  margin-left: 10px;
  font-size: 1.2rem;
}

.form-input {
  position: relative;
}

.form-input__icon {
  position: absolute;
  left: 0;
  width: 45px;
  height: 100%;
  background-color: var(--tertiary-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 1;
}

.form-input__icon img {
  width: 20px;
}

.form-input__input {
  padding-left: 60px;
  border-radius: 5px;
  border: 3px solid var(--tertiary-color);
  background: #101010;
  color: #ffffff;
  font-size: 1.2rem;
}

.form-input__input:focus {
  box-shadow: none;
  border-color: var(--tree-color);
  outline: 0;
}
</style>
