<template>
<div class="d-flex justify-content-center">
  <b-container class="bg-border d-none d-lg-block ">
    <div class="pb-2 mb-3">
      <slide-tab-pc></slide-tab-pc>
      <b-container>
        <b-row>
          <b-col class="backdata">
            <system-user></system-user>
          </b-col>
          <b-col class="backchang">
            <last-game></last-game>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </b-container>
</div>
</template>

<script>
import SystemUser from "../SystemUser.vue";
import LastGame from "../LastGame.vue";
import SlideTabPc from "~/components/slidetab/SlideTabPc.vue";
export default {
  components: { SystemUser, SlideTabPc, LastGame }
};
</script>

<style scoped>
.backdata {
  background: #dbdad9;
}

.backchang {
  background: var(--quaternary-color);
}
</style>
